In [1]:
import pandas as pd
import re
import zipfile

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
!ls atusdata/

activity_codes.pdf  atusact_2013.zip    atuscps_2013.zip    atusresp_2013.zip   atusrost_2013.zip   atusrostec_2013.zip atussum_2013.zip    atususersguide.pdf  atuswho_2013.zip    data_dictionary.pdf

##Relevant links:
- [activity_codes.pdf](atusdata/activity_codes.pdf)

- [atususersguide.pdf](atusdata/atususersguide.pdf)

- [data_dictionary.pdf](atusdata/data_dictionary.pdf)

In [32]:
def open_atus_zip(datafile):
    #datafile = 'atussum_2013'
    summary = None
    with zipfile.ZipFile('atusdata/{}.zip'.format(datafile), 'r') as z:
        f = z.open('{}.dat'.format(datafile))
        return pd.read_csv(f)
summary = open_atus_zip('atussum_2013')
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
variables = sorted(list(summary.columns.values)[:24])
meanings =  ['metropolitan_status',
             'education_level',
             'is_hispanic',
             'race',
             'age_edited)',
             'weekly_hours_worked',
             'employment_status',
             'has_multiple_jobs',
             'is_student',
             'school_level',
             'gender',
             'partner_employed',
             'household_children',
             'work_status',
             'weekly_earnings_main',
             'is_holiday',
             'partner_work_status',
             'partner_present',
             'eldercare_minutes',
             'childcare_minutes',
             'youngest_child_age',
             'date',
             'atus_final_weight',
             'atus_case_id']

summary_columns = {key: meanings[i] for i, key in enumerate(variables)}
meanings_unsorted = [summary_columns[key] for key in summary.columns.values[:24]]
meanings_unsorted.extend(summary.columns.values[24:])

In [7]:
# summary = pd.read_csv("atusdata/atussum_2013.dat")
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 36.0 MB

In [8]:
summary.columns

Index(['tucaseid', 'TUFINLWGT', 'TRYHHCHILD', 'TEAGE', 'TESEX', 'PEEDUCA',
       'PTDTRACE', 'PEHSPNON', 'GTMETSTA', 'TELFS',
       ...
       't181501', 't181599', 't181601', 't181801', 't189999', 't500101',
       't500103', 't500105', 't500106', 't500107'],
      dtype='object', length=413)

Pertinent columns:

* TUFINLWGT - statistical weight of respondent
* TRYHHCHILD - age of youngest child in household
* TEAGE - age of respondent
* TESEX - sex of respondent
* TELFS - working status of respondent
* TRCHILDNUM - number of children in household

In [9]:
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
summary2 = summary.rename(columns=summary_columns)
summary3 = summary2
summary3.columns = pd.MultiIndex.from_tuples(list(zip(meanings_unsorted, summary.columns)))
summary3.head() # .columns.values

,atus_case_id,atus_final_weight,youngest_child_age,age_edited),gender,education_level,race,is_hispanic,metropolitan_status,employment_status,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
import parse_activities as pa
#import importlib
#importlib.reload(pa)
#del pa
pa.atus_codes_list
pa.codes_dict

{'t01': 'Personal Care',
 't0101': 'Sleeping',
 't010101': 'Sleeping',
 't010102': 'Sleeplessness',
 't010199': 'Sleeping, n.e.c.*',
 't0102': 'Grooming',
 't010201': 'Washing, dressing and grooming oneself',
 't010299': 'Grooming, n.e.c.*',
 't0103': 'Health-related Self Care',
 't010301': 'Health-related self care',
 't010399': 'Self care, n.e.c.*',
 't0104': 'Personal Activities',
 't010401': 'Personal/Private activities',
 't010499': 'Personal activities, n.e.c.*',
 't0105': 'Personal Care Emergencies',
 't010501': 'Personal emergencies',
 't010599': 'Personal care emergencies, n.e.c.*',
 't0199': 'Personal Care, n.e.c.*',
 't019999': 'Personal care, n.e.c.*',
 't02': 'Household Activities',
 't0201': 'Housework',
 't020101': 'Interior cleaning',
 't020102': 'Laundry',
 't020103': 'Sewing, repairing, & maintaining textiles',
 't020104': 'Storing interior hh items, inc. food',
 't020199': 'Housework, n.e.c.*',
 't0202': 'Food & Drink Prep., Presentation, & Clean-up',
 't020201': 'Food and drink preparation',
 't020202': 'Food presentation',
 't020203': 'Kitchen and food clean-up',
 't020299': 'Food & drink prep, presentation, & clean-up, n.e.c.*',
 't0203': 'Interior Maintenance, Repair, & Decoration',
 't020301': 'Interior arrangement, decoration, & repairs',
 't020302': 'Building and repairing furniture',
 't020303': 'Heating and cooling',
 't020399': 'Interior maintenance, repair, & decoration, n.e.c.*',
 't0204': 'Exterior Maintenance, Repair, & Decoration',
 't020401': 'Exterior cleaning',
 't020402': 'Exterior repair, improvements, & decoration',
 't020499': 'Exterior maintenance, repair & decoration, n.e.c.*',
 't0205': 'Lawn, Garden, and Houseplants',
 't020501': 'Lawn, garden, and houseplant care',
 't020502': 'Ponds, pools, and hot tubs',
 't020599': 'Lawn and garden, n.e.c.*',
 't0206': 'Animals and Pets',
 't020601': 'Care for animals and pets (not veterinary care)',
 't020602': 'Walking / exercising / playing with animals',
 't020699': 'Pet and animal care, n.e.c.*',
 't0207': 'Vehicles',
 't020701': 'Vehicle repair and maintenance (by self)',
 't020799': 'Vehicles, n.e.c.*',
 't0208': 'Appliances, Tools, and Toys',
 't020801': 'Appliance, tool, and toy set-up, repair, & maintenance (by self)',
 't020899': 'Appliances and tools, n.e.c.*',
 't0209': 'Household Management',
 't020901': 'Financial management',
 't020902': 'Household & personal organization and planning',
 't020903': 'HH & personal mail & messages (except e-mail)',
 't020904': 'HH & personal e-mail and messages',
 't020905': 'Home security',
 't020999': 'Household management, n.e.c.*',
 't0299': 'Household Activities, n.e.c.*',
 't029999': 'Household activities, n.e.c.*',
 't03': 'Caring For & Helping Household (HH) Members',
 't0301': 'Caring For & Helping HH Children',
 't030101': 'Physical care for hh children',
 't030102': 'Reading to/with hh children',
 't030103': 'Playing with hh children, not sports',
 't030104': 'Arts and crafts with hh children',
 't030105': 'Playing sports with hh children',
 't030106': 'Talking with/listening to hh children',
 't030108': 'Organization & planning for hh children',
 't030109': 'Looking after hh children (as a primary activity)',
 't030110': "Attending hh children's events",
 't030111': 'Waiting for/with hh children',
 't030112': 'Picking up/dropping off hh children',
 't030199': 'Caring for & helping hh children, n.e.c.*',
 't0302': "Activities Related to HH Children's Education",
 't030201': 'Homework (hh children)',
 't030202': 'Meetings and school conferences (hh children)',
 't030203': 'Home schooling of hh children',
 't030204': "Waiting associated with hh children's education",
 't030299': "Activities related to hh child's education, n.e.c.*",
 't0303': "Activities Related to HH Children's Health",
 't030301': 'Providing medical care to hh children',
 't030302': 'Obtaining medical care for hh children',
 't030303': "Waiting associated with hh children's health",
 't030399': "Activities related to hh child's health, n.e.c.*",
 't0304': 'Caring For Household Adults',
 't030401': 'Physical care for hh adults',
 't030402': 'Looking after hh adult (as a primary activity)',
 't030403': 'Providing medical care to hh adult',
 't030404': 'Obtaining medical and care services for hh adult',
 't030405': 'Waiting associated with caring for household adults',
 't030499': 'Caring for household adults, n.e.c.*',
 't0305': 'Helping Household Adults',
 't030501': 'Helping hh adults',
 't030502': 'Organization & planning for hh adults',
 't030503': 'Picking up/dropping off hh adult',
 't030504': 'Waiting associated with helping hh adults',
 't030599': 'Helping household adults, n.e.c.*',
 't0399': 'Caring For & Helping HH Members, n.e.c.*',
 't039999': 'Caring for & helping hh members, n.e.c.*',
 't04': 'Caring For & Helping Nonhousehold (NonHH) Members',
 't0401': 'Caring For & Helping NonHH Children',
 't040101': 'Physical care for nonhh children',
 't040102': 'Reading to/with nonhh children',
 't040103': 'Playing with nonhh children, not sports',
 't040104': 'Arts and crafts with nonhh children',
 't040105': 'Playing sports with nonhh children',
 't040106': 'Talking with/listening to nonhh children',
 't040108': 'Organization & planning for nonhh children',
 't040109': 'Looking after nonhh children (as primary activity)',
 't040110': "Attending nonhh children's events",
 't040111': 'Waiting for/with nonhh children',
 't040112': 'Dropping off/picking up nonhh children',
 't040199': 'Caring for and helping nonhh children, n.e.c.*',
 't0402': "Activities Related to Nonhh Children's Education",
 't040201': 'Homework (nonhh children)',
 't040202': 'Meetings and school conferences (nonhh children)',
 't040203': 'Home schooling of nonhh children',
 't040204': "Waiting associated with nonhh children's education",
 't040299': "Activities related to nonhh child's educ., n.e.c.*",
 't0403': "Activities Related to Nonhh Children's Health",
 't040301': 'Providing medical care to nonhh children',
 't040302': 'Obtaining medical care for nonhh children',
 't040303': "Waiting associated with nonhh children's health",
 't040399': "Activities related to nonhh child's health, n.e.c.*",
 't0404': 'Caring For Nonhousehold Adults',
 't040401': 'Physical care for nonhh adults',
 't040402': 'Looking after nonhh adult (as a primary activity)',
 't040403': 'Providing medical care to nonhh adult',
 't040404': 'Obtaining medical and care services for nonhh adult',
 't040405': 'Waiting associated with caring for nonhh adults',
 't040499': 'Caring for nonhh adults, n.e.c.*',
 't0405': 'Helping Nonhousehold Adults',
 't040501': 'Housework, cooking, & shopping assistance for nonhh adults',
 't040502': 'House & lawn maintenance & repair assistance for nonhh adults',
 't040503': 'Animal & pet care assistance for nonhh adults',
 't040504': 'Vehicle & appliance maintenance/repair assistance for nonhh adults',
 't040505': 'Financial management assistance for nonhh adults',
 't040506': 'Household management & paperwork assistance for nonhh adults',
 't040507': 'Picking up/dropping off nonhh adult',
 't040508': 'Waiting associated with helping nonhh adults',
 't040599': 'Helping nonhh adults, n.e.c.*',
 't0499': 'Caring For & Helping NonHH Members, n.e.c.*',
 't049999': 'Caring for & helping nonhh members, n.e.c.*',
 't05': 'Work & Work-Related Activities',
 't0501': 'Working',
 't050101': 'Work, main job',
 't050102': 'Work, other job(s)',
 't050103': 'Security procedures related to work',
 't050104': 'Waiting associated with working',
 't050199': 'Working, n.e.c.*',
 't0502': 'Work-Related Activities',
 't050201': 'Socializing, relaxing, and leisure as part of job',
 't050202': 'Eating and drinking as part of job',
 't050203': 'Sports and exercise as part of job',
 't050204': 'Security procedures as part of job',
 't050205': 'Waiting associated with work-related activities',
 't050299': 'Work-related activities, n.e.c.*',
 't0503': 'Other Income-generating Activities',
 't050301': 'Income-generating hobbies, crafts, and food',
 't050302': 'Income-generating performances',
 't050303': 'Income-generating services',
 't050304': 'Income-generating rental property activities',
 't050305': 'Waiting associated with other income-generating activities',
 't050399': 'Other income-generating activities, n.e.c.*',
 't0504': 'Job Search and Interviewing',
 't050401': 'Job search activities',
 't050403': 'Job interviewing',
 't050404': 'Waiting associated with job search or interview',
 't050405': 'Security procedures rel. to job search/interviewing',
 't050499': 'Job search and Interviewing, n.e.c.*',
 't0599': 'Work and Work-Related Activities, n.e.c.*',
 't059999': 'Work and work-related activities, n.e.c.*',
 't06': 'Education',
 't0601': 'Taking Class',
 't060101': 'Taking class for degree, certification, or licensure',
 't060102': 'Taking class for personal interest',
 't060103': 'Waiting associated with taking classes',
 't060104': 'Security procedures rel. to taking classes',
 't060199': 'Taking class, n.e.c.*',
 't0602': 'Extracurricular School Activities (Except Sports)',
 't060201': 'Extracurricular club activities',
 't060202': 'Extracurricular music & performance activities',
 't060203': 'Extracurricular student government activities',
 't060204': 'Waiting associated with extracurricular activities',
 't060299': 'Education-related extracurricular activities, n.e.c.*',
 't0603': 'Research/Homework',
 't060301': 'Research/homework for class for degree, certification, or licensure',
 't060302': 'Research/homework for class for pers. interest',
 't060303': 'Waiting associated with research/homework',
 't060399': 'Research/homework n.e.c.*',
 't0604': 'Registration/Administrative activities',
 't060401': 'Administrative activities: class for degree, certification, or licensure',
 't060402': 'Administrative activities: class for personal interest',
 't060403': 'Waiting associated w/admin. activities (education)',
 't060499': 'Administrative for education, n.e.c.*',
 't0699': 'Education, n.e.c.*',
 't069999': 'Education, n.e.c.*',
 't07': 'Consumer Purchases',
 't0701': 'Shopping (Store, Telephone, Internet)',
 't070101': 'Grocery shopping',
 't070102': 'Purchasing gas',
 't070103': 'Purchasing food (not groceries)',
 't070104': 'Shopping, except groceries, food and gas',
 't070105': 'Waiting associated with shopping',
 't070199': 'Shopping, n.e.c.*',
 't0702': 'Researching Purchases',
 't070201': 'Comparison shopping',
 't070299': 'Researching purchases, n.e.c.*',
 't0703': 'Security Procedures Rel. to Consumer Purchases',
 't070301': 'Security procedures rel. to consumer purchases',
 't070399': 'Security procedures rel. to consumer purchases, n.e.c.*',
 't0799': 'Consumer Purchases, n.e.c.*',
 't079999': 'Consumer purchases, n.e.c.*',
 't08': 'Professional & Personal Care Services',
 't0801': 'Childcare Services',
 't080101': 'Using paid childcare services',
 't080102': 'Waiting associated w/purchasing childcare svcs',
 't080199': 'Using paid childcare services, n.e.c.*',
 't0802': 'Financial Services and Banking',
 't080201': 'Banking',
 't080202': 'Using other financial services',
 't080203': 'Waiting associated w/banking/financial services',
 't080299': 'Using financial services and banking, n.e.c.*',
 't0803': 'Legal Services',
 't080301': 'Using legal services',
 't080302': 'Waiting associated with legal services',
 't080399': 'Using legal services, n.e.c.*',
 't0804': 'Medical and Care Services',
 't080401': 'Using health and care services outside the home',
 't080402': 'Using in-home health and care services',
 't080403': 'Waiting associated with medical services',
 't080499': 'Using medical services, n.e.c.*',
 't0805': 'Personal Care Services',
 't080501': 'Using personal care services',
 't080502': 'Waiting associated w/personal care services',
 't080599': 'Using personal care services, n.e.c.*',
 't0806': 'Real Estate',
 't080601': 'Activities rel. to purchasing/selling real estate',
 't080602': 'Waiting associated w/purchasing/selling real estate',
 't080699': 'Using real estate services, n.e.c.*',
 't0807': 'Veterinary Services (excluding grooming)',
 't080701': 'Using veterinary services',
 't080702': 'Waiting associated with veterinary services',
 't080799': 'Using veterinary services, n.e.c.*',
 't0808': 'Security Procedures Rel. to Professional/Personal Svcs.',
 't080801': 'Security procedures rel. to professional/personal svcs.',
 't080899': 'Security procedures rel. to professional/personal svcs n.e.c.*',
 't0899': 'Professional and Personal Services, n.e.c.*',
 't089999': 'Professional and personal services, n.e.c.*',
 't09': 'Household Services',
 't0901': 'Household Services (not done by self)',
 't090101': 'Using interior cleaning services',
 't090102': 'Using meal preparation services',
 't090103': 'Using clothing repair and cleaning services',
 't090104': 'Waiting associated with using household services',
 't090199': 'Using household services, n.e.c.*',
 't0902': 'Home Maint/Repair/Decor/Construction (not done by self)',
 't090201': 'Using home maint/repair/décor/construction svcs',
 't090202': 'Waiting associated w/ home main/repair/décor/constr',
 't090299': 'Using home maint/repair/décor/constr services, n.e.c.*',
 't0903': 'Pet Services (not done by self, not vet)',
 't090301': 'Using pet services',
 't090302': 'Waiting associated with pet services',
 't090399': 'Using pet services, n.e.c.*',
 't0904': 'Lawn & Garden Services (not done by self)',
 't090401': 'Using lawn and garden services',
 't090402': 'Waiting associated with using lawn & garden services',
 't090499': 'Using lawn and garden services, n.e.c.*',
 't0905': 'Vehicle Maint. & Repair Services (not done by self)',
 't090501': 'Using vehicle maintenance or repair services',
 't090502': 'Waiting associated with vehicle main. or repair svcs',
 't090599': 'Using vehicle maint. & repair svcs, n.e.c.*',
 't0999': 'Household Services, n.e.c.*',
 't099999': 'Using household services, n.e.c.*',
 't10': 'Government Services & Civic Obligations',
 't1001': 'Using Government Services',
 't100101': 'Using police and fire services',
 't100102': 'Using social services',
 't100103': 'Obtaining licenses & paying fines, fees, taxes',
 't100199': 'Using government services, n.e.c.*',
 't1002': 'Civic Obligations & Participation',
 't100201': 'Civic obligations & participation',
 't100299': 'Civic obligations & participation, n.e.c.*',
 't1003': 'Waiting Associated w/Govt Svcs or Civic Obligations',
 't100304': 'Waiting associated with using government services',
 't100305': 'Waiting associated with civic obligations & participation',
 't100399': 'Waiting assoc. w/govt svcs or civic obligations, n.e.c.*',
 't1004': 'Security Procedures Rel. to Govt Svcs/Civic Obligations',
 't100401': 'Security procedures rel. to govt svcs/civic obligations',
 't100499': 'Security procedures rel. to govt svcs/civic obligations, n.e.c.*',
 't1099': 'Government Services, n.e.c.*',
 't109999': 'Government services, n.e.c.*',
 't11': 'Eating and Drinking',
 't1101': 'Eating and Drinking',
 't110101': 'Eating and drinking',
 't110199': 'Eating and drinking, n.e.c.*',
 't1102': 'Waiting associated with eating & drinking',
 't110201': 'Waiting associated w/eating & drinking',
 't110299': 'Waiting associated with eating & drinking, n.e.c.*',
 't1199': 'Eating and Drinking, n.e.c.*',
 't119999': 'Eating and drinking, n.e.c.*',
 't12': 'Socializing, Relaxing, and Leisure',
 't1201': 'Socializing and Communicating',
 't120101': 'Socializing and communicating with others',
 't120199': 'Socializing and communicating, n.e.c.*',
 't1202': 'Attending or Hosting Social Events',
 't120201': 'Attending or hosting parties/receptions/ceremonies',
 't120202': 'Attending meetings for personal interest (not volunteering)',
 't120299': 'Attending/hosting social events, n.e.c.*',
 't1203': 'Relaxing and Leisure',
 't120301': 'Relaxing, thinking',
 't120302': 'Tobacco and drug use',
 't120303': 'Television and movies (not religious)',
 't120304': 'Television (religious)',
 't120305': 'Listening to the radio',
 't120306': 'Listening to/playing music (not radio)',
 't120307': 'Playing games',
 't120308': 'Computer use for leisure (excluding games)',
 't120309': 'Arts and crafts as a hobby',
 't120310': 'Collecting as a hobby',
 't120311': 'Hobbies, except arts & crafts and collecting',
 't120312': 'Reading for personal interest',
 't120313': 'Writing for personal interest',
 't120399': 'Relaxing and leisure, n.e.c.*',
 't1204': 'Arts and Entertainment (other than sports)',
 't120401': 'Attending performing arts',
 't120402': 'Attending museums',
 't120403': 'Attending movies/film',
 't120404': 'Attending gambling establishments',
 't120405': 'Security procedures rel. to arts & entertainment',
 't120499': 'Arts and entertainment, n.e.c.*',
 't1205': 'Waiting Associated with Socializing, Relaxing, and Leisure',
 't120501': 'Waiting assoc. w/socializing & communicating',
 't120502': 'Waiting assoc. w/attending/hosting social events',
 't120503': 'Waiting associated with relaxing/leisure',
 't120504': 'Waiting associated with arts & entertainment',
 't120599': 'Waiting associated with socializing, n.e.c.*',
 't1299': 'Socializing, Relaxing, and Leisure, n.e.c.*',
 't129999': 'Socializing, relaxing, and leisure, n.e.c.*',
 't13': 'Sports, Exercise, and Recreation',
 't1301': 'Participating in Sports, Exercise, or Recreation',
 't130101': 'Doing aerobics',
 't130102': 'Playing baseball',
 't130103': 'Playing basketball',
 't130104': 'Biking',
 't130105': 'Playing billiards',
 't130106': 'Boating',
 't130107': 'Bowling',
 't130108': 'Climbing, spelunking, caving',
 't130109': 'Dancing',
 't130110': 'Participating in equestrian sports',
 't130111': 'Fencing',
 't130112': 'Fishing',
 't130113': 'Playing football',
 't130114': 'Golfing',
 't130115': 'Doing gymnastics',
 't130116': 'Hiking',
 't130117': 'Playing hockey',
 't130118': 'Hunting',
 't130119': 'Participating in martial arts',
 't130120': 'Playing racquet sports',
 't130121': 'Participating in rodeo competitions',
 't130122': 'Rollerblading',
 't130123': 'Playing rugby',
 't130124': 'Running',
 't130125': 'Skiing, ice skating, snowboarding',
 't130126': 'Playing soccer',
 't130127': 'Softball',
 't130128': 'Using cardiovascular equipment',
 't130129': 'Vehicle touring/racing',
 't130130': 'Playing volleyball',
 't130131': 'Walking',
 't130132': 'Participating in water sports',
 't130133': 'Weightlifting/strength training',
 't130134': 'Working out, unspecified',
 't130135': 'Wrestling',
 't130136': 'Doing yoga',
 't130199': 'Playing sports n.e.c.*',
 't1302': 'Attending Sporting/Recreational Events',
 't130201': 'Watching aerobics',
 't130202': 'Watching baseball',
 't130203': 'Watching basketball',
 't130204': 'Watching biking',
 't130205': 'Watching billiards',
 't130206': 'Watching boating',
 't130207': 'Watching bowling',
 't130208': 'Watching climbing, spelunking, caving',
 't130209': 'Watching dancing',
 't130210': 'Watching equestrian sports',
 't130211': 'Watching fencing',
 't130212': 'Watching fishing',
 't130213': 'Watching football',
 't130214': 'Watching golfing',
 't130215': 'Watching gymnastics',
 't130216': 'Watching hockey',
 't130217': 'Watching martial arts',
 't130218': 'Watching racquet sports',
 't130219': 'Watching rodeo competitions',
 't130220': 'Watching rollerblading',
 't130221': 'Watching rugby',
 't130222': 'Watching running',
 't130223': 'Watching skiing, ice skating, snowboarding',
 't130224': 'Watching soccer',
 't130225': 'Watching softball',
 't130226': 'Watching vehicle touring/racing',
 't130227': 'Watching volleyball',
 't130228': 'Watching walking',
 't130229': 'Watching water sports',
 't130230': 'Watching weightlifting/strength training',
 't130231': 'Watching people working out, unspecified',
 't130232': 'Watching wrestling',
 't130299': 'Attending sporting events, n.e.c.*',

In [12]:
# summary2 = summary.rename(columns=summary_columns)
# summary3 = summary2
# summary3.columns = pd.MultiIndex.from_tuples(list(zip(meanings_unsorted, summary.columns)))
# summary3.head() # .columns.values

In [13]:
adults_crit = summary.TEAGE >= 18
no_children_crit = summary.TRCHILDNUM == 0

In [14]:
adults = summary[adults_crit]
adults.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10953 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 34.6 MB

In [15]:
people_with_no_children = summary[no_children_crit]
people_with_no_children.info()
len(people_with_no_children)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6481 entries, 2 to 11381
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 20.5 MB

6481

In [16]:
adults_with_no_children = summary[adults_crit & no_children_crit]
adults_with_no_children.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6481 entries, 2 to 11381
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 20.5 MB

In [17]:
def weighted(df, col):
    """
    Pass in dataframe and a name of column (str) to received statistically weighted number based on TUFINLWGT
    Returns a dataframe with a weighted values column as well as a weighted average
    """
    data = df[['TUFINLWGT', col]]
    data[str(col+'_wgt')] = data.TUFINLWGT * data[col]
    avg = data[str(col+'_wgt')].sum() / data.TUFINLWGT.sum()
    return data, avg

data = adults_with_no_children[['TUFINLWGT', 't120303']]
data.head()
data2, avg = weighted(data, 't120303')
data = data.rename(columns={"TUFINLWGT": "weight", "t120303": "minutes"})

data2.head()
avg

190.25402840855642

In [18]:
data['weighted_minutes'] = data.weight * data.minutes

In [19]:
data.head()

            weight  minutes  weighted_minutes
2  10377056.507734       60      6.226234e+08
3   7731257.992805       65      5.025318e+08
4   4725269.227067       90      4.252742e+08
5   2372791.046351      270      6.406536e+08
6   5671341.270490      244      1.383807e+09

In [20]:
# Minutes on average spent watching TV (unweighted) - DO NOT USE
data.minutes.sum() / len(data)

211.67427866070051

In [21]:
# Minutes on average spent watching TV (weighted)
data.weighted_minutes.sum() / data.weight.sum()

190.25402840855642

In [22]:
def average_minutes(data, activity_code):
    activity_col = "t{}".format(activity_code)
    data = data[['TUFINLWGT', activity_col]]
    data = data.rename(columns={"TUFINLWGT": "weight", activity_col: "minutes"})
    data['weighted_minutes'] = data.weight * data.minutes
    return data.weighted_minutes.sum() / data.weight.sum()

In [23]:
sleeping = average_minutes(adults_with_no_children, "010101")
sleepless = average_minutes(adults_with_no_children, "010102")
sleeping, sleepless, (sleeping + sleepless) / 60 # hours

(521.0183492943637, 4.0328730764962595, 8.7508537061809992)

In [24]:
def activity_columns(data, activity_code):
    """For the activity code given, return all columns that fall under that activity."""
    col_prefix = "t{}".format(activity_code)
    return [column for column in data.columns if re.match(col_prefix, column)]

In [25]:
activity_columns(summary, "0101")

['t010101', 't010102']

In [26]:
def average_minutes2(data, activity_code):
    cols = activity_columns(data, activity_code)
    activity_data = data[cols]
    activity_sums = activity_data.sum(axis=1)
    data = data[['TUFINLWGT']]
    data['minutes'] = activity_sums
    data = data.rename(columns={"TUFINLWGT": "weight"})
    data['weighted_minutes'] = data.weight * data.minutes
    return data.weighted_minutes.sum() / data.weight.sum()

In [27]:
pa.categories

{'t01': 'Personal Care',
 't02': 'Household Activities',
 't03': 'Caring For & Helping Household (HH) Members',
 't04': 'Caring For & Helping Nonhousehold (NonHH) Members',
 't05': 'Work & Work-Related Activities',
 't06': 'Education',
 't07': 'Consumer Purchases',
 't08': 'Professional & Personal Care Services',
 't09': 'Household Services',
 't10': 'Government Services & Civic Obligations',
 't11': 'Eating and Drinking',
 't12': 'Socializing, Relaxing, and Leisure',
 't13': 'Sports, Exercise, and Recreation',
 't14': 'Religious and Spiritual Activities',
 't15': 'Volunteer Activities',
 't16': 'Telephone Calls',
 't18': 'Traveling',
 't50': 'Data Codes'}

In [66]:
average_minutes2(adults_with_no_children, "0101") / 60

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

8.750853706181001

In [29]:
pa.codes_dict['t0101']

'Sleeping'

In [67]:
average_minutes2(adults_with_no_children, "01") / 60

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

9.5541911543273592

In [49]:
# grouping
help(adults_with_no_children.groupby)

Help on method groupby in module pandas.core.generic:

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False) method of pandas.core.frame.DataFrame instance
    Group series using mapper (dict or key function, apply given function
    to group, return result as series) or by a series of columns

    Parameters
    ----------
    by : mapping function / list of functions, dict, Series, or tuple /
        list of column names.
        Called on each element of the object index to determine the groups.
        If a dict or Series is passed, the Series or dict VALUES will be
        used to determine the groups
    axis : int, default 0
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels
    as_index : boolean, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output
    sort : boolean, default True
        Sort group keys. Get better performance by turning this off
    group_keys : boolean, default True
        When calling apply, add group keys to index to identify pieces
    squeeze : boolean, default False
        reduce the dimensionaility of the return type if possible,
        otherwise return a consistent type

    Examples
    --------
    DataFrame results

    >>> data.groupby(func, axis=0).mean()
    >>> data.groupby(['col1', 'col2'])['col3'].mean()

    DataFrame with hierarchical index

    >>> data.groupby(['col1', 'col2']).mean()

    Returns
    -------
    GroupBy object

## Joining files

In [33]:
respondents = open_atus_zip('atusresp_2013')
activities = open_atus_zip('atusact_2013')
# respondents = pd.read_csv("atusdata/atusresp_2013/atusresp_2013.dat")
# activities = pd.read_csv("atusdata/atusact_2013/atusact_2013.dat")

In [34]:
respondents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 175 entries, TUCASEID to TXTONHH
dtypes: float64(1), int64(172), object(2)
memory usage: 15.3+ MB

In [35]:
activities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215576 entries, 0 to 215575
Data columns (total 31 columns):
TUCASEID        215576 non-null int64
TUACTIVITY_N    215576 non-null int64
TEWHERE         215576 non-null int64
TRTCCTOT_LN     215576 non-null int64
TRTCC_LN        215576 non-null int64
TRTCOC_LN       215576 non-null int64
TRTEC_LN        215576 non-null int64
TRTHH_LN        215576 non-null int64
TRTNOHH_LN      215576 non-null int64
TRTOHH_LN       215576 non-null int64
TRTONHH_LN      215576 non-null int64
TRTO_LN         215576 non-null int64
TRWBELIG        215576 non-null int64
TUACTDUR        215576 non-null int64
TUACTDUR24      215576 non-null int64
TUCC5           215576 non-null int64
TUCC5B          215576 non-null int64
TUCC7           215576 non-null int64
TUCC8           215576 non-null int64
TUCUMDUR        215576 non-null int64
TUCUMDUR24      215576 non-null int64
TUDURSTOP       215576 non-null int64
TUEC24          215576 non-null int64
TUSTARTTIM      215576 non-null object
TUSTOPTIME      215576 non-null object
TUTIER1CODE     215576 non-null int64
TUTIER2CODE     215576 non-null int64
TUTIER3CODE     215576 non-null int64
TRCODE          215576 non-null int64
TRTIER2         215576 non-null int64
TXWHERE         215576 non-null int64
dtypes: int64(29), object(2)
memory usage: 52.6+ MB

In [36]:
respondents.head()

,TUCASEID,TULINENO,TUYEAR,TUMONTH,TEABSRSN,TEERN,TEERNH1O,TEERNH2,TEERNHRO,TEERNHRY,...,TXSPEMPNOT,TXSPUHRS,TXTCC,TXTCCTOT,TXTCOC,TXTHH,TXTNOHH,TXTO,TXTOHH,TXTONHH
0,20130101130004,1,2013,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,-1,-1,-1
1,20130101130112,1,2013,1,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
2,20130101130123,1,2013,1,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
3,20130101130611,1,2013,1,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,20130101130616,1,2013,1,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1

In [37]:
activities.head()

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUDURSTOP,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20130101130004,1,-1,0,0,0,-1,0,0,-1,...,2,-1,04:00:00,12:00:00,1,1,1,10101,101,0
1,20130101130004,2,1,5,5,0,-1,5,5,-1,...,1,-1,12:00:00,12:05:00,11,1,1,110101,1101,0
2,20130101130004,3,1,120,120,0,-1,120,120,-1,...,1,-1,12:05:00,14:05:00,12,3,3,120303,1203,0
3,20130101130004,4,1,0,0,0,-1,0,0,-1,...,2,-1,14:05:00,19:00:00,6,3,1,60301,603,0
4,20130101130004,5,1,30,30,0,-1,30,30,-1,...,1,-1,19:00:00,19:30:00,11,1,1,110101,1101,0

In [38]:
merged = pd.merge(respondents, activities, left_on="TUCASEID", right_on="TUCASEID")
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215576 entries, 0 to 215575
Columns: 205 entries, TUCASEID to TXWHERE
dtypes: float64(1), int64(200), object(4)
memory usage: 338.8+ MB

In [40]:
merged[["TUCASEID", "TUACTIVITY_N", "TXTCOC"]].head()

         TUCASEID  TUACTIVITY_N  TXTCOC
0  20130101130004             1       0
1  20130101130004             2       0
2  20130101130004             3       0
3  20130101130004             4       0
4  20130101130004             5       0

In [41]:
telfs = pd.Series({1: "Employed - at work",
                   2: "Employed - absent",
                   3: "Unemployed - laid off",
                   4: "Unemployed - looking",
                   5: "Not in labor force"})

In [42]:
telfs

1       Employed - at work
2        Employed - absent
3    Unemployed - laid off
4     Unemployed - looking
5       Not in labor force
dtype: object

In [43]:
summary.TELFS.map(telfs).head()

0      Not in labor force
1      Employed - at work
2    Unemployed - looking
3      Employed - at work
4      Employed - at work
Name: TELFS, dtype: object