#Initial Exploration
####* [Table of Contents](#Table-of-Contents:)

In [79]:
import pandas as pd
import numpy as np
import math
import re
import zipfile
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
!ls atusdata/

activity_codes.pdf  atusact_2013.zip    atuscps_2013.zip    atusresp_2013.zip   atusrost_2013.zip   atusrostec_2013.zip atussum_2013.zip    atususersguide.pdf  atuswho_2013.zip    data_dictionary.pdf

##Relevant links:
- [activity_codes.pdf](atusdata/activity_codes.pdf)

- [atususersguide.pdf](atusdata/atususersguide.pdf)

- [data_dictionary.pdf](atusdata/data_dictionary.pdf)

In [5]:
def open_atus_zip(datafile):
    #datafile = 'atussum_2013'
    summary = None
    with zipfile.ZipFile('atusdata/{}.zip'.format(datafile), 'r') as z:
        f = z.open('{}.dat'.format(datafile))
        return pd.read_csv(f)
summary = open_atus_zip('atussum_2013')
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
variables = sorted(list(summary.columns.values)[:24])
meanings =  ['metropolitan_status',
             'education_level',
             'is_hispanic',
             'race',
             'age_edited',
             'weekly_hours_worked',
             'employment_status',
             'has_multiple_jobs',
             'is_student',
             'school_level',
             'gender',
             'partner_employed',
             'household_children',
             'work_status',
             'weekly_earnings_main',
             'is_holiday',
             'partner_work_status',
             'partner_present',
             'eldercare_minutes',
             'childcare_minutes',
             'youngest_child_age',
             'date',
             'atus_final_weight',
             'atus_case_id']

summary_columns = {key: meanings[i] for i, key in enumerate(variables)}
meanings_unsorted = [summary_columns[key] for key in summary.columns.values[:24]]
# meanings_unsorted.extend(summary.columns.values[24:])

In [7]:
# summary = pd.read_csv("atusdata/atussum_2013.dat")
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 36.0 MB

In [8]:
summary.columns

Index(['tucaseid', 'TUFINLWGT', 'TRYHHCHILD', 'TEAGE', 'TESEX', 'PEEDUCA',
       'PTDTRACE', 'PEHSPNON', 'GTMETSTA', 'TELFS',
       ...
       't181501', 't181599', 't181601', 't181801', 't189999', 't500101',
       't500103', 't500105', 't500106', 't500107'],
      dtype='object', length=413)

Pertinent columns:

* TUFINLWGT - statistical weight of respondent
* TRYHHCHILD - age of youngest child in household
* TEAGE - age of respondent
* TESEX - sex of respondent
* TELFS - working status of respondent
* TRCHILDNUM - number of children in household

In [9]:
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
import parse_activities as pa
#import importlib
#importlib.reload(pa)
#del pa
pa.atus_codes_list
pa.codes_dict
z = summary_columns.copy()
z.update(pa.codes_dict)
summary_columns = z
summary_columns
code_meanings = [ pa.codes_dict[i] for i in summary.columns.values[24:]]
meanings_unsorted.extend(code_meanings)
meanings_unsorted
# summary4 = summary.rename(columns=pa.codes_dict)
# summary4.head()
# summary5 = summary4
# summary5.columns = pd.MultiIndex.from_tuples(list(zip(meanings_unsorted, summary.columns)))
# summary5.head() # .columns.values

['atus_case_id',
 'atus_final_weight',
 'youngest_child_age',
 'age_edited',
 'gender',
 'education_level',
 'race',
 'is_hispanic',
 'metropolitan_status',
 'employment_status',
 'has_multiple_jobs',
 'work_status',
 'is_student',
 'school_level',
 'partner_present',
 'partner_employed',
 'weekly_earnings_main',
 'household_children',
 'partner_work_status',
 'weekly_hours_worked',
 'date',
 'is_holiday',
 'eldercare_minutes',
 'childcare_minutes',
 'Sleeping',
 'Sleeplessness',
 'Washing, dressing and grooming oneself',
 'Grooming, n.e.c.*',
 'Health-related self care',
 'Self care, n.e.c.*',
 'Personal/Private activities',
 'Interior cleaning',
 'Laundry',
 'Sewing, repairing, & maintaining textiles',
 'Storing interior hh items, inc. food',
 'Housework, n.e.c.*',
 'Food and drink preparation',
 'Food presentation',
 'Kitchen and food clean-up',
 'Food & drink prep, presentation, & clean-up, n.e.c.*',
 'Interior arrangement, decoration, & repairs',
 'Building and repairing furniture',
 'Heating and cooling',
 'Interior maintenance, repair, & decoration, n.e.c.*',
 'Exterior cleaning',
 'Exterior repair, improvements, & decoration',
 'Exterior maintenance, repair & decoration, n.e.c.*',
 'Lawn, garden, and houseplant care',
 'Ponds, pools, and hot tubs',
 'Lawn and garden, n.e.c.*',
 'Care for animals and pets (not veterinary care)',
 'Walking / exercising / playing with animals',
 'Pet and animal care, n.e.c.*',
 'Vehicle repair and maintenance (by self)',
 'Vehicles, n.e.c.*',
 'Appliance, tool, and toy set-up, repair, & maintenance (by self)',
 'Appliances and tools, n.e.c.*',
 'Financial management',
 'Household & personal organization and planning',
 'HH & personal mail & messages (except e-mail)',
 'HH & personal e-mail and messages',
 'Home security',
 'Household management, n.e.c.*',
 'Household activities, n.e.c.*',
 'Physical care for hh children',
 'Reading to/with hh children',
 'Playing with hh children, not sports',
 'Arts and crafts with hh children',
 'Playing sports with hh children',
 'Talking with/listening to hh children',
 'Organization & planning for hh children',
 'Looking after hh children (as a primary activity)',
 "Attending hh children's events",
 'Waiting for/with hh children',
 'Picking up/dropping off hh children',
 'Caring for & helping hh children, n.e.c.*',
 'Homework (hh children)',
 'Meetings and school conferences (hh children)',
 'Home schooling of hh children',
 "Activities related to hh child's education, n.e.c.*",
 'Providing medical care to hh children',
 'Obtaining medical care for hh children',
 "Waiting associated with hh children's health",
 "Activities related to hh child's health, n.e.c.*",
 'Physical care for hh adults',
 'Looking after hh adult (as a primary activity)',
 'Providing medical care to hh adult',
 'Obtaining medical and care services for hh adult',
 'Waiting associated with caring for household adults',
 'Caring for household adults, n.e.c.*',
 'Helping hh adults',
 'Organization & planning for hh adults',
 'Picking up/dropping off hh adult',
 'Waiting associated with helping hh adults',
 'Helping household adults, n.e.c.*',
 'Caring for & helping hh members, n.e.c.*',
 'Physical care for nonhh children',
 'Reading to/with nonhh children',
 'Playing with nonhh children, not sports',
 'Arts and crafts with nonhh children',
 'Playing sports with nonhh children',
 'Talking with/listening to nonhh children',
 'Organization & planning for nonhh children',
 'Looking after nonhh children (as primary activity)',
 "Attending nonhh children's events",
 'Waiting for/with nonhh children',
 'Dropping off/picking up nonhh children',
 'Caring for and helping nonhh children, n.e.c.*',
 'Homework (nonhh children)',
 "Activities related to nonhh child's educ., n.e.c.*",
 'Providing medical care to nonhh children',
 'Obtaining medical care for nonhh children',
 'Physical care for nonhh adults',
 'Looking after nonhh adult (as a primary activity)',
 'Providing medical care to nonhh adult',
 'Obtaining medical and care services for nonhh adult',
 'Waiting associated with caring for nonhh adults',
 'Caring for nonhh adults, n.e.c.*',
 'Housework, cooking, & shopping assistance for nonhh adults',
 'House & lawn maintenance & repair assistance for nonhh adults',
 'Animal & pet care assistance for nonhh adults',
 'Vehicle & appliance maintenance/repair assistance for nonhh adults',
 'Financial management assistance for nonhh adults',
 'Household management & paperwork assistance for nonhh adults',
 'Picking up/dropping off nonhh adult',
 'Waiting associated with helping nonhh adults',
 'Helping nonhh adults, n.e.c.*',
 'Work, main job',
 'Work, other job(s)',
 'Security procedures related to work',
 'Waiting associated with working',
 'Working, n.e.c.*',
 'Socializing, relaxing, and leisure as part of job',
 'Eating and drinking as part of job',
 'Waiting associated with work-related activities',
 'Income-generating hobbies, crafts, and food',
 'Income-generating performances',
 'Income-generating services',
 'Income-generating rental property activities',
 'Waiting associated with other income-generating activities',
 'Other income-generating activities, n.e.c.*',
 'Job search activities',
 'Job interviewing',
 'Waiting associated with job search or interview',
 'Work and work-related activities, n.e.c.*',
 'Taking class for degree, certification, or licensure',
 'Taking class for personal interest',
 'Waiting associated with taking classes',
 'Taking class, n.e.c.*',
 'Extracurricular club activities',
 'Extracurricular music & performance activities',
 'Education-related extracurricular activities, n.e.c.*',
 'Research/homework for class for degree, certification, or licensure',
 'Research/homework for class for pers. interest',
 'Waiting associated with research/homework',
 'Research/homework n.e.c.*',
 'Administrative activities: class for degree, certification, or licensure',
 'Administrative activities: class for personal interest',
 'Waiting associated w/admin. activities (education)',
 'Administrative for education, n.e.c.*',
 'Education, n.e.c.*',
 'Grocery shopping',
 'Purchasing gas',
 'Purchasing food (not groceries)',
 'Shopping, except groceries, food and gas',
 'Waiting associated with shopping',
 'Comparison shopping',
 'Using paid childcare services',
 'Banking',
 'Using other financial services',
 'Waiting associated w/banking/financial services',
 'Using legal services',
 'Using health and care services outside the home',
 'Using in-home health and care services',
 'Waiting associated with medical services',
 'Using medical services, n.e.c.*',
 'Using personal care services',
 'Waiting associated w/personal care services',
 'Activities rel. to purchasing/selling real estate',
 'Waiting associated w/purchasing/selling real estate',
 'Using veterinary services',
 'Waiting associated with veterinary services',
 'Professional and personal services, n.e.c.*',
 'Using interior cleaning services',
 'Using clothing repair and cleaning services',
 'Using household services, n.e.c.*',
 'Using home maint/repair/dÃ©cor/construction svcs',
 'Waiting associated w/ home main/repair/dÃ©cor/constr',
 'Using pet services',
 'Waiting associated with pet services',
 'Using pet services, n.e.c.*',
 'Using lawn and garden services',
 'Using lawn and garden services, n.e.c.*',
 'Using vehicle maintenance or repair services',
 'Waiting associated with vehicle main. or repair svcs',
 'Using vehicle maint. & repair svcs, n.e.c.*',
 'Using household services, n.e.c.*',
 'Using police and fire services',
 'Using social services',
 'Obtaining licenses & paying fines, fees, taxes',
 'Using government services, n.e.c.*',
 'Civic obligations & participation',
 'Waiting associated with using government services',
 'Security procedures rel. to govt svcs/civic obligations, n.e.c.*',
 'Government services, n.e.c.*',
 'Eating and drinking',
 'Waiting associated w/eating & drinking',
 'Socializing and communicating with others',
 'Attending or hosting parties/receptions/ceremonies',
 'Attending meetings for personal interest (not volunteering)',
 'Attending/hosting social events, n.e.c.*',
 'Relaxing, thinking',
 'Tobacco and drug use',
 'Television and movies (not religious)',
 'Television (religious)',
 'Listening to the radio',
 'Listening to/playing music (not radio)',
 'Playing games',
 'Computer use for leisure (excluding games)',
 'Arts and crafts as a hobby',
 'Collecting as a hobby',
 'Hobbies, except arts & crafts and collecting',
 'Reading for personal interest',
 'Writing for personal interest',
 'Relaxing and leisure, n.e.c.*',
 'Attending performing arts',
 'Attending museums',
 'Attending movies/film',
 'Attending gambling establishments',
 'Arts and entertainment, n.e.c.*',
 'Waiting assoc. w/socializing & communicating',
 'Waiting assoc. w/attending/hosting social events',
 'Waiting associated with relaxing/leisure',
 'Waiting associated with arts & entertainment',
 'Waiting associated with socializing, n.e.c.*',
 'Socializing, relaxing, and leisure, n.e.c.*',
 'Doing aerobics',
 'Playing baseball',
 'Playing basketball',
 'Biking',
 'Playing billiards',
 'Boating',
 'Bowling',
 'Climbing, spelunking, caving',
 'Dancing',
 'Participating in equestrian sports',
 'Fishing',
 'Playing football',
 'Golfing',
 'Doing gymnastics',
 'Hiking',
 'Playing hockey',
 'Hunting',
 'Participating in martial arts',
 'Playing racquet sports',
 'Rollerblading',
 'Playing rugby',
 'Running',
 'Skiing, ice skating, snowboarding',
 'Playing soccer',
 'Softball',
 'Using cardiovascular equipment',
 'Vehicle touring/racing',
 'Playing volleyball',
 'Walking',
 'Participating in water sports',
 'Weightlifting/strength training',
 'Working out, unspecified',
 'Wrestling',
 'Doing yoga',
 'Playing sports n.e.c.*',
 'Watching baseball',
 'Watching basketball',
 'Watching billiards',
 'Watching boating',
 'Watching bowling',
 'Watching equestrian sports',
 'Watching football',
 'Watching gymnastics',
 'Watching hockey',
 'Watching racquet sports',
 'Watching rodeo competitions',
 'Watching rollerblading',
 'Watching rugby',
 'Watching running',
 'Watching skiing, ice skating, snowboarding',
 'Watching soccer',
 'Watching softball',
 'Watching vehicle touring/racing',
 'Watching volleyball',
 'Watching water sports',
 'Watching wrestling',
 'Attending sporting events, n.e.c.*',
 'Waiting related to playing sports or exercising',
 'Waiting related to attending sporting events',
 'Sports, exercise, & recreation, n.e.c.*',
 'Attending religious services',
 'Participation in religious practices',
 'Waiting associated w/religious & spiritual activities',
 'Religious education activities',
 'Religious and spiritual activities, n.e.c.*',
 'Computer use',
 'Organizing and preparing',
 'Reading',
 'Telephone calls (except hotline counseling)',
 'Writing',
 'Fundraising',
 'Administrative & support activities, n.e.c.*',
 'Food preparation, presentation, clean-up',
 'Collecting & delivering clothing & other goods',
 'Providing care',
 'Teaching, leading, counseling, mentoring',
 'Social service & care activities, n.e.c.*',
 'Building houses, wildlife sites, & other structures',
 'Indoor & outdoor maintenance, repair, & clean-up',
 'Indoor & outdoor maintenance, building & clean-up activities, n.e.c.*',
 'Performing',
 'Serving at volunteer events & cultural activities',
 'Participating in performance & cultural activities, n.e.c.*',
 'Attending meetings, conferences, & training',
 'Attending meetings, conferences, & training, n.e.c.*',
 'Public health activities',
 'Public safety activities',
 'Public health & safety activities, n.e.c.*',
 'Waiting associated with volunteer activities',
 'Security procedures related to volunteer activities',
 'Volunteer activities, n.e.c.*',
 'Telephone calls to/from family members',
 'Telephone calls to/from friends, neighbors, or acquaintances',
 'Telephone calls to/from education services providers',
 'Telephone calls to/from salespeople',
 'Telephone calls to/from professional or personal care svcs providers',
 'Telephone calls to/from household services providers',
 'Telephone calls to/from paid child or adult care providers',
 'Telephone calls to/from government officials',
 'Telephone calls (to or from), n.e.c.*',
 'Waiting associated with telephone calls',
 'Telephone calls, n.e.c.*',
 'Travel related to personal care',
 'Travel related to personal care, n.e.c.*',
 'Travel related to housework',
 'Travel related to food & drink prep., clean-up, & presentation',
 'Travel related to interior maintenance, repair, & decoration',
 'Travel related to exterior maintenance, repair, & decoration',
 'Travel related to lawn, garden, and houseplant care',
 'Travel related to care for animals and pets (not vet care)',
 'Travel related to vehicle care & maintenance (by self)',
 'Travel related to appliance, tool, and toy set-up, repair, & maintenance (by self)',
 'Travel related to household management',
 'Travel related to household activities, n.e.c.*',
 'Travel related to caring for & helping hh children',
 "Travel related to hh children's education",
 "Travel related to hh children's health",
 'Travel related to caring for hh adults',
 'Travel related to helping hh adults',
 'Travel related to caring for and helping nonhh children',
 "Travel related to nonhh children's education",
 "Travel related to nonhh children's health",
 'Travel related to caring for nonhh adults',
 'Travel related to helping nonhh adults',
 'Travel related to working',
 'Travel related to work-related activities',
 'Travel related to income-generating activities',
 'Travel related to job search & interviewing',
 'Travel related to work, n.e.c.*',
 'Travel related to taking class',
 'Travel related to extracurricular activities (ex. Sports)',
 'Travel related to research/homework',
 'Travel related to registration/administrative activities',
 'Travel related to education, n.e.c.*',
 'Travel related to grocery shopping',
 'Travel related to purchasing gas',
 'Travel related to purchasing food (not groceries)',
 'Travel related to shopping, ex groceries, food, and gas',
 'Travel related to consumer purchases, n.e.c.*',
 'Travel related to using childcare services',
 'Travel related to using financial services and banking',
 'Travel related to using legal services',
 'Travel related to using medical services',
 'Travel related to using personal care services',
 'Travel related to using real estate services',
 'Travel related to using veterinary services',
 'Travel rel. to using prof. & personal care services, n.e.c.*',
 'Travel related to using household services',
 'Travel related to using home main./repair/dÃ©cor./construction svcs',
 'Travel related to using pet services (not vet)',
 'Travel related to using lawn and garden services',
 'Travel related to using vehicle maintenance & repair services',
 'Travel related to using household services, n.e.c.*',
 'Travel related to using government services',
 'Travel related to civic obligations & participation',
 'Travel rel. to govt svcs & civic obligations, n.e.c.*',
 'Travel related to eating and drinking',
 'Travel related to socializing and communicating',
 'Travel related to attending or hosting social events',
 'Travel related to relaxing and leisure',
 'Travel related to arts and entertainment',
 'Travel as a form of entertainment',
 'Travel rel. to socializing, relaxing, & leisure, n.e.c.*',
 'Travel related to participating in sports/exercise/recreation',
 'Travel related to attending sporting/recreational events',
 'Travel related to religious/spiritual practices',
 'Travel rel. to religious/spiritual activities, n.e.c.*',
 'Travel related to volunteering',
 'Travel related to volunteer activities, n.e.c.*',
 'Travel related to phone calls',
 'Security procedures related to traveling',
 'Traveling, n.e.c.*',
 'Insufficient detail in verbatim',
 'Missing travel or destination',
 'Respondent refused to provide information/"none of your business"',
 "Gap/can't remember",
 'Unable to code activity at 1st tier']

In [11]:
summary2 = summary.rename(columns=summary_columns)
summary3 = summary2
summary3.columns = pd.MultiIndex.from_tuples(list(zip(summary.columns, meanings_unsorted)))
summary3.head() # .columns.values

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
,atus_case_id,atus_final_weight,youngest_child_age,age_edited,gender,education_level,race,is_hispanic,metropolitan_status,employment_status,...,Travel related to volunteering,"Travel related to volunteer activities, n.e.c.*",Travel related to phone calls,Security procedures related to traveling,"Traveling, n.e.c.*",Insufficient detail in verbatim,Missing travel or destination,"Respondent refused to provide information/""none of your business""",Gap/can't remember,Unable to code activity at 1st tier
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# summary2 = summary.rename(columns=summary_columns)
# summary3 = summary2
# summary3.columns = pd.MultiIndex.from_tuples(list(zip(meanings_unsorted, summary.columns)))
# summary3.head() # .columns.values

In [13]:
adults_crit = summary.TEAGE >= 18
no_children_crit = summary.TRCHILDNUM == 0

In [14]:
adults = summary[adults_crit]
adults.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10953 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 34.6 MB

In [15]:
people_with_no_children = summary[no_children_crit]
people_with_no_children.info()
len(people_with_no_children)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6481 entries, 2 to 11381
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 20.5 MB

6481

In [16]:
adults_with_no_children = summary[adults_crit & no_children_crit]
adults_with_no_children.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6481 entries, 2 to 11381
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 20.5 MB

In [17]:
def weighted(df, col):
    """
    Pass in dataframe and a name of column (str) to received statistically weighted number based on TUFINLWGT
    Returns a dataframe with a weighted values column as well as a weighted average
    """
    data = df[['TUFINLWGT', col]]
    data[str(col+'_wgt')] = data.TUFINLWGT * data[col]
    avg = data[str(col+'_wgt')].sum() / data.TUFINLWGT.sum()
    return data, avg

def weighted_col(df, col):
    """
    Pass in dataframe and a name of column (str) to received statistically weighted column based on TUFINLWGT
    """
    data = df[['TUFINLWGT', col]]
    data[str(col+'_wgt')] = data.TUFINLWGT * data[col]
    return data[str(col+'_wgt')]

data = adults_with_no_children[['TUFINLWGT', 't120303']]
data.head()
data2, avg = weighted(data, 't120303')
data = data.rename(columns={"TUFINLWGT": "weight", "t120303": "minutes"})

data2.head()
avg

190.25402840855642

In [18]:
data['weighted_minutes'] = data.weight * data.minutes

In [19]:
data.head()

            weight  minutes  weighted_minutes
2  10377056.507734       60      6.226234e+08
3   7731257.992805       65      5.025318e+08
4   4725269.227067       90      4.252742e+08
5   2372791.046351      270      6.406536e+08
6   5671341.270490      244      1.383807e+09

In [20]:
# Minutes on average spent watching TV (unweighted) - DO NOT USE
data.minutes.sum() / len(data)

211.67427866070051

In [21]:
# Minutes on average spent watching TV (weighted)
data.weighted_minutes.sum() / data.weight.sum()

190.25402840855642

In [22]:
def average_minutes(data, activity_code):
    activity_col = "t{}".format(activity_code)
    data = data[['TUFINLWGT', activity_col]]
    data = data.rename(columns={"TUFINLWGT": "weight", activity_col: "minutes"})
    data['weighted_minutes'] = data.weight * data.minutes
    return data.weighted_minutes.sum() / data.weight.sum()

In [23]:
sleeping = average_minutes(adults_with_no_children, "010101")
sleepless = average_minutes(adults_with_no_children, "010102")
sleeping, sleepless, (sleeping + sleepless) / 60 # hours

(521.0183492943637, 4.0328730764962595, 8.7508537061809992)

In [24]:
def activity_columns(data, activity_code):
    """For the activity code given, return all columns that fall under that activity."""
    col_prefix = "t{}".format(activity_code)
    return [column for column in data.columns if re.match(col_prefix, column)]

In [25]:
activity_columns(summary, "0101")

['t010101', 't010102']

In [26]:
def average_minutes2(data, activity_code):
    cols = activity_columns(data, activity_code)
    activity_data = data[cols]
    activity_sums = activity_data.sum(axis=1)
    data = data[['TUFINLWGT']]
    data['minutes'] = activity_sums
    data = data.rename(columns={"TUFINLWGT": "weight"})
    data['weighted_minutes'] = data.weight * data.minutes
    return data.weighted_minutes.sum() / data.weight.sum()

In [27]:
pa.categories

{'t01': 'Personal Care',
 't02': 'Household Activities',
 't03': 'Caring For & Helping Household (HH) Members',
 't04': 'Caring For & Helping Nonhousehold (NonHH) Members',
 't05': 'Work & Work-Related Activities',
 't06': 'Education',
 't07': 'Consumer Purchases',
 't08': 'Professional & Personal Care Services',
 't09': 'Household Services',
 't10': 'Government Services & Civic Obligations',
 't11': 'Eating and Drinking',
 't12': 'Socializing, Relaxing, and Leisure',
 't13': 'Sports, Exercise, and Recreation',
 't14': 'Religious and Spiritual Activities',
 't15': 'Volunteer Activities',
 't16': 'Telephone Calls',
 't18': 'Traveling',
 't50': 'Data Codes'}

In [28]:
average_minutes2(adults_with_no_children, "0101") / 60

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

8.750853706181001

In [29]:
pa.codes_dict['t0101']

'Sleeping'

In [30]:
average_minutes2(adults_with_no_children, "01") / 60

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

9.5541911543273592

In [31]:
# grouping
help(adults_with_no_children.groupby)

Help on method groupby in module pandas.core.generic:

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False) method of pandas.core.frame.DataFrame instance
    Group series using mapper (dict or key function, apply given function
    to group, return result as series) or by a series of columns

    Parameters
    ----------
    by : mapping function / list of functions, dict, Series, or tuple /
        list of column names.
        Called on each element of the object index to determine the groups.
        If a dict or Series is passed, the Series or dict VALUES will be
        used to determine the groups
    axis : int, default 0
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels
    as_index : boolean, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output
    sort : boolean, default True
        Sort group keys. Get better performance by turning this off
    group_keys : boolean, default True
        When calling apply, add group keys to index to identify pieces
    squeeze : boolean, default False
        reduce the dimensionaility of the return type if possible,
        otherwise return a consistent type

    Examples
    --------
    DataFrame results

    >>> data.groupby(func, axis=0).mean()
    >>> data.groupby(['col1', 'col2'])['col3'].mean()

    DataFrame with hierarchical index

    >>> data.groupby(['col1', 'col2']).mean()

    Returns
    -------
    GroupBy object

## Joining files

In [32]:
respondents = open_atus_zip('atusresp_2013')
activities = open_atus_zip('atusact_2013')
# respondents = pd.read_csv("atusdata/atusresp_2013/atusresp_2013.dat")
# activities = pd.read_csv("atusdata/atusact_2013/atusact_2013.dat")

In [33]:
respondents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 175 entries, TUCASEID to TXTONHH
dtypes: float64(1), int64(172), object(2)
memory usage: 15.3+ MB

In [34]:
activities.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215576 entries, 0 to 215575
Data columns (total 31 columns):
TUCASEID        215576 non-null int64
TUACTIVITY_N    215576 non-null int64
TEWHERE         215576 non-null int64
TRTCCTOT_LN     215576 non-null int64
TRTCC_LN        215576 non-null int64
TRTCOC_LN       215576 non-null int64
TRTEC_LN        215576 non-null int64
TRTHH_LN        215576 non-null int64
TRTNOHH_LN      215576 non-null int64
TRTOHH_LN       215576 non-null int64
TRTONHH_LN      215576 non-null int64
TRTO_LN         215576 non-null int64
TRWBELIG        215576 non-null int64
TUACTDUR        215576 non-null int64
TUACTDUR24      215576 non-null int64
TUCC5           215576 non-null int64
TUCC5B          215576 non-null int64
TUCC7           215576 non-null int64
TUCC8           215576 non-null int64
TUCUMDUR        215576 non-null int64
TUCUMDUR24      215576 non-null int64
TUDURSTOP       215576 non-null int64
TUEC24          215576 non-null int64
TUSTARTTIM      215576 non-null object
TUSTOPTIME      215576 non-null object
TUTIER1CODE     215576 non-null int64
TUTIER2CODE     215576 non-null int64
TUTIER3CODE     215576 non-null int64
TRCODE          215576 non-null int64
TRTIER2         215576 non-null int64
TXWHERE         215576 non-null int64
dtypes: int64(29), object(2)
memory usage: 52.6+ MB

In [35]:
respondents.head()

,TUCASEID,TULINENO,TUYEAR,TUMONTH,TEABSRSN,TEERN,TEERNH1O,TEERNH2,TEERNHRO,TEERNHRY,...,TXSPEMPNOT,TXSPUHRS,TXTCC,TXTCCTOT,TXTCOC,TXTHH,TXTNOHH,TXTO,TXTOHH,TXTONHH
0,20130101130004,1,2013,1,-1,-1,-1,-1,-1,-1,...,-1,-1,0,0,0,0,0,-1,-1,-1
1,20130101130112,1,2013,1,-1,-1,-1,-1,-1,2,...,0,0,0,0,0,0,-1,0,0,-1
2,20130101130123,1,2013,1,-1,-1,-1,-1,-1,-1,...,0,0,-1,0,0,-1,-1,-1,-1,-1
3,20130101130611,1,2013,1,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1
4,20130101130616,1,2013,1,-1,-1,-1,-1,-1,2,...,-1,-1,-1,0,0,-1,-1,-1,-1,-1

In [36]:
activities.head()

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUDURSTOP,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20130101130004,1,-1,0,0,0,-1,0,0,-1,...,2,-1,04:00:00,12:00:00,1,1,1,10101,101,0
1,20130101130004,2,1,5,5,0,-1,5,5,-1,...,1,-1,12:00:00,12:05:00,11,1,1,110101,1101,0
2,20130101130004,3,1,120,120,0,-1,120,120,-1,...,1,-1,12:05:00,14:05:00,12,3,3,120303,1203,0
3,20130101130004,4,1,0,0,0,-1,0,0,-1,...,2,-1,14:05:00,19:00:00,6,3,1,60301,603,0
4,20130101130004,5,1,30,30,0,-1,30,30,-1,...,1,-1,19:00:00,19:30:00,11,1,1,110101,1101,0

In [37]:
merged = pd.merge(respondents, activities, left_on="TUCASEID", right_on="TUCASEID")
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215576 entries, 0 to 215575
Columns: 205 entries, TUCASEID to TXWHERE
dtypes: float64(1), int64(200), object(4)
memory usage: 338.8+ MB

In [38]:
merged[["TUCASEID", "TUACTIVITY_N", "TXTCOC"]].head()

         TUCASEID  TUACTIVITY_N  TXTCOC
0  20130101130004             1       0
1  20130101130004             2       0
2  20130101130004             3       0
3  20130101130004             4       0
4  20130101130004             5       0

In [39]:
telfs = pd.Series({1: "Employed - at work",
                   2: "Employed - absent",
                   3: "Unemployed - laid off",
                   4: "Unemployed - looking",
                   5: "Not in labor force"})

In [40]:
telfs

1       Employed - at work
2        Employed - absent
3    Unemployed - laid off
4     Unemployed - looking
5       Not in labor force
dtype: object

In [41]:
summary.TELFS.map(telfs).head()

0      Not in labor force
1      Employed - at work
2    Unemployed - looking
3      Employed - at work
4      Employed - at work
Name: TELFS, dtype: object

##Correlation matrix

In [80]:
#import numpy as np
df = pd.DataFrame(np.random.random((5, 5)))
corr_series = df.corr().stack()
corr_series[(corr_series.map(math.fabs) >= 0.5) & (corr_series != 1.0)]

0  4    0.508207
1  3   -0.833739
   4    0.883459
3  1   -0.833739
   4   -0.922282
4  0    0.508207
   1    0.883459
   3   -0.922282
dtype: float64

#Verifying summary statistics from BLS website:
###http://www.bls.gov/tus/charts/home.htm

1. Americans >= 15 years old slept 8.7 hours, 
2. spent 5.3 hours doing leisure/sports activities
3. 3.5 hours working
4. 1.8 hours doing household activities.

In [42]:
s = summary3  # The dataframe with meaningful column names
[col for col in s.columns if not col[1].startswith('t')] # the summary demographic information about respondents

[('tucaseid', 'atus_case_id'),
 ('TUFINLWGT', 'atus_final_weight'),
 ('TRYHHCHILD', 'youngest_child_age'),
 ('TEAGE', 'age_edited'),
 ('TESEX', 'gender'),
 ('PEEDUCA', 'education_level'),
 ('PTDTRACE', 'race'),
 ('PEHSPNON', 'is_hispanic'),
 ('GTMETSTA', 'metropolitan_status'),
 ('TELFS', 'employment_status'),
 ('TEMJOT', 'has_multiple_jobs'),
 ('TRDPFTPT', 'work_status'),
 ('TESCHENR', 'is_student'),
 ('TESCHLVL', 'school_level'),
 ('TRSPPRES', 'partner_present'),
 ('TESPEMPNOT', 'partner_employed'),
 ('TRERNWA', 'weekly_earnings_main'),
 ('TRCHILDNUM', 'household_children'),
 ('TRSPFTPT', 'partner_work_status'),
 ('TEHRUSLT', 'weekly_hours_worked'),
 ('TUDIARYDAY', 'date'),
 ('TRHOLIDAY', 'is_holiday'),
 ('TRTEC', 'eldercare_minutes'),
 ('TRTHH', 'childcare_minutes'),
 ('t010101', 'Sleeping'),
 ('t010102', 'Sleeplessness'),
 ('t010201', 'Washing, dressing and grooming oneself'),
 ('t010299', 'Grooming, n.e.c.*'),
 ('t010301', 'Health-related self care'),
 ('t010399', 'Self care, n.e.c.*'),
 ('t010401', 'Personal/Private activities'),
 ('t020101', 'Interior cleaning'),
 ('t020102', 'Laundry'),
 ('t020103', 'Sewing, repairing, & maintaining textiles'),
 ('t020104', 'Storing interior hh items, inc. food'),
 ('t020199', 'Housework, n.e.c.*'),
 ('t020201', 'Food and drink preparation'),
 ('t020202', 'Food presentation'),
 ('t020203', 'Kitchen and food clean-up'),
 ('t020299', 'Food & drink prep, presentation, & clean-up, n.e.c.*'),
 ('t020301', 'Interior arrangement, decoration, & repairs'),
 ('t020302', 'Building and repairing furniture'),
 ('t020303', 'Heating and cooling'),
 ('t020399', 'Interior maintenance, repair, & decoration, n.e.c.*'),
 ('t020401', 'Exterior cleaning'),
 ('t020402', 'Exterior repair, improvements, & decoration'),
 ('t020499', 'Exterior maintenance, repair & decoration, n.e.c.*'),
 ('t020501', 'Lawn, garden, and houseplant care'),
 ('t020502', 'Ponds, pools, and hot tubs'),
 ('t020599', 'Lawn and garden, n.e.c.*'),
 ('t020601', 'Care for animals and pets (not veterinary care)'),
 ('t020602', 'Walking / exercising / playing with animals'),
 ('t020699', 'Pet and animal care, n.e.c.*'),
 ('t020701', 'Vehicle repair and maintenance (by self)'),
 ('t020799', 'Vehicles, n.e.c.*'),
 ('t020801',
  'Appliance, tool, and toy set-up, repair, & maintenance (by self)'),
 ('t020899', 'Appliances and tools, n.e.c.*'),
 ('t020901', 'Financial management'),
 ('t020902', 'Household & personal organization and planning'),
 ('t020903', 'HH & personal mail & messages (except e-mail)'),
 ('t020904', 'HH & personal e-mail and messages'),
 ('t020905', 'Home security'),
 ('t020999', 'Household management, n.e.c.*'),
 ('t029999', 'Household activities, n.e.c.*'),
 ('t030101', 'Physical care for hh children'),
 ('t030102', 'Reading to/with hh children'),
 ('t030103', 'Playing with hh children, not sports'),
 ('t030104', 'Arts and crafts with hh children'),
 ('t030105', 'Playing sports with hh children'),
 ('t030106', 'Talking with/listening to hh children'),
 ('t030108', 'Organization & planning for hh children'),
 ('t030109', 'Looking after hh children (as a primary activity)'),
 ('t030110', "Attending hh children's events"),
 ('t030111', 'Waiting for/with hh children'),
 ('t030112', 'Picking up/dropping off hh children'),
 ('t030199', 'Caring for & helping hh children, n.e.c.*'),
 ('t030201', 'Homework (hh children)'),
 ('t030202', 'Meetings and school conferences (hh children)'),
 ('t030203', 'Home schooling of hh children'),
 ('t030299', "Activities related to hh child's education, n.e.c.*"),
 ('t030301', 'Providing medical care to hh children'),
 ('t030302', 'Obtaining medical care for hh children'),
 ('t030303', "Waiting associated with hh children's health"),
 ('t030399', "Activities related to hh child's health, n.e.c.*"),
 ('t030401', 'Physical care for hh adults'),
 ('t030402', 'Looking after hh adult (as a primary activity)'),
 ('t030403', 'Providing medical care to hh adult'),
 ('t030404', 'Obtaining medical and care services for hh adult'),
 ('t030405', 'Waiting associated with caring for household adults'),
 ('t030499', 'Caring for household adults, n.e.c.*'),
 ('t030501', 'Helping hh adults'),
 ('t030502', 'Organization & planning for hh adults'),
 ('t030503', 'Picking up/dropping off hh adult'),
 ('t030504', 'Waiting associated with helping hh adults'),
 ('t030599', 'Helping household adults, n.e.c.*'),
 ('t039999', 'Caring for & helping hh members, n.e.c.*'),
 ('t040101', 'Physical care for nonhh children'),
 ('t040102', 'Reading to/with nonhh children'),
 ('t040103', 'Playing with nonhh children, not sports'),
 ('t040104', 'Arts and crafts with nonhh children'),
 ('t040105', 'Playing sports with nonhh children'),
 ('t040106', 'Talking with/listening to nonhh children'),
 ('t040108', 'Organization & planning for nonhh children'),
 ('t040109', 'Looking after nonhh children (as primary activity)'),
 ('t040110', "Attending nonhh children's events"),
 ('t040111', 'Waiting for/with nonhh children'),
 ('t040112', 'Dropping off/picking up nonhh children'),
 ('t040199', 'Caring for and helping nonhh children, n.e.c.*'),
 ('t040201', 'Homework (nonhh children)'),
 ('t040299', "Activities related to nonhh child's educ., n.e.c.*"),
 ('t040301', 'Providing medical care to nonhh children'),
 ('t040302', 'Obtaining medical care for nonhh children'),
 ('t040401', 'Physical care for nonhh adults'),
 ('t040402', 'Looking after nonhh adult (as a primary activity)'),
 ('t040403', 'Providing medical care to nonhh adult'),
 ('t040404', 'Obtaining medical and care services for nonhh adult'),
 ('t040405', 'Waiting associated with caring for nonhh adults'),
 ('t040499', 'Caring for nonhh adults, n.e.c.*'),
 ('t040501', 'Housework, cooking, & shopping assistance for nonhh adults'),
 ('t040502', 'House & lawn maintenance & repair assistance for nonhh adults'),
 ('t040503', 'Animal & pet care assistance for nonhh adults'),
 ('t040504',
  'Vehicle & appliance maintenance/repair assistance for nonhh adults'),
 ('t040505', 'Financial management assistance for nonhh adults'),
 ('t040506', 'Household management & paperwork assistance for nonhh adults'),
 ('t040507', 'Picking up/dropping off nonhh adult'),
 ('t040508', 'Waiting associated with helping nonhh adults'),
 ('t040599', 'Helping nonhh adults, n.e.c.*'),
 ('t050101', 'Work, main job'),
 ('t050102', 'Work, other job(s)'),
 ('t050103', 'Security procedures related to work'),
 ('t050104', 'Waiting associated with working'),
 ('t050199', 'Working, n.e.c.*'),
 ('t050201', 'Socializing, relaxing, and leisure as part of job'),
 ('t050202', 'Eating and drinking as part of job'),
 ('t050205', 'Waiting associated with work-related activities'),
 ('t050301', 'Income-generating hobbies, crafts, and food'),
 ('t050302', 'Income-generating performances'),
 ('t050303', 'Income-generating services'),
 ('t050304', 'Income-generating rental property activities'),
 ('t050305', 'Waiting associated with other income-generating activities'),
 ('t050399', 'Other income-generating activities, n.e.c.*'),
 ('t050401', 'Job search activities'),
 ('t050403', 'Job interviewing'),
 ('t050404', 'Waiting associated with job search or interview'),
 ('t059999', 'Work and work-related activities, n.e.c.*'),
 ('t060101', 'Taking class for degree, certification, or licensure'),
 ('t060102', 'Taking class for personal interest'),
 ('t060103', 'Waiting associated with taking classes'),
 ('t060199', 'Taking class, n.e.c.*'),
 ('t060201', 'Extracurricular club activities'),
 ('t060202', 'Extracurricular music & performance activities'),
 ('t060299', 'Education-related extracurricular activities, n.e.c.*'),
 ('t060301',
  'Research/homework for class for degree, certification, or licensure'),
 ('t060302', 'Research/homework for class for pers. interest'),
 ('t060303', 'Waiting associated with research/homework'),
 ('t060399', 'Research/homework n.e.c.*'),
 ('t060401',
  'Administrative activities: class for degree, certification, or licensure'),
 ('t060402', 'Administrative activities: class for personal interest'),
 ('t060403', 'Waiting associated w/admin. activities (education)'),
 ('t060499', 'Administrative for education, n.e.c.*'),
 ('t069999', 'Education, n.e.c.*'),
 ('t070101', 'Grocery shopping'),
 ('t070102', 'Purchasing gas'),
 ('t070103', 'Purchasing food (not groceries)'),
 ('t070104', 'Shopping, except groceries, food and gas'),
 ('t070105', 'Waiting associated with shopping'),
 ('t070201', 'Comparison shopping'),
 ('t080101', 'Using paid childcare services'),
 ('t080201', 'Banking'),
 ('t080202', 'Using other financial services'),
 ('t080203', 'Waiting associated w/banking/financial services'),
 ('t080301', 'Using legal services'),
 ('t080401', 'Using health and care services outside the home'),
 ('t080402', 'Using in-home health and care services'),
 ('t080403', 'Waiting associated with medical services'),
 ('t080499', 'Using medical services, n.e.c.*'),
 ('t080501', 'Using personal care services'),
 ('t080502', 'Waiting associated w/personal care services'),
 ('t080601', 'Activities rel. to purchasing/selling real estate'),
 ('t080602', 'Waiting associated w/purchasing/selling real estate'),
 ('t080701', 'Using veterinary services'),
 ('t080702', 'Waiting associated with veterinary services'),
 ('t089999', 'Professional and personal services, n.e.c.*'),
 ('t090101', 'Using interior cleaning services'),
 ('t090103', 'Using clothing repair and cleaning services'),
 ('t090199', 'Using household services, n.e.c.*'),
 ('t090201', 'Using home maint/repair/dÃ©cor/construction svcs'),
 ('t090202', 'Waiting associated w/ home main/repair/dÃ©cor/constr'),
 ('t090301', 'Using pet services'),
 ('t090302', 'Waiting associated with pet services'),
 ('t090399', 'Using pet services, n.e.c.*'),
 ('t090401', 'Using lawn and garden services'),
 ('t090499', 'Using lawn and garden services, n.e.c.*'),
 ('t090501', 'Using vehicle maintenance or repair services'),
 ('t090502', 'Waiting associated with vehicle main. or repair svcs'),
 ('t090599', 'Using vehicle maint. & repair svcs, n.e.c.*'),
 ('t099999', 'Using household services, n.e.c.*'),
 ('t100101', 'Using police and fire services'),
 ('t100102', 'Using social services'),
 ('t100103', 'Obtaining licenses & paying fines, fees, taxes'),
 ('t100199', 'Using government services, n.e.c.*'),
 ('t100201', 'Civic obligations & participation'),
 ('t100304', 'Waiting associated with using government services'),
 ('t100499',
  'Security procedures rel. to govt svcs/civic obligations, n.e.c.*'),
 ('t109999', 'Government services, n.e.c.*'),
 ('t110101', 'Eating and drinking'),
 ('t110201', 'Waiting associated w/eating & drinking'),
 ('t120101', 'Socializing and communicating with others'),
 ('t120201', 'Attending or hosting parties/receptions/ceremonies'),
 ('t120202', 'Attending meetings for personal interest (not volunteering)'),
 ('t120299', 'Attending/hosting social events, n.e.c.*'),
 ('t120301', 'Relaxing, thinking'),
 ('t120302', 'Tobacco and drug use'),
 ('t120303', 'Television and movies (not religious)'),
 ('t120304', 'Television (religious)'),
 ('t120305', 'Listening to the radio'),
 ('t120306', 'Listening to/playing music (not radio)'),
 ('t120307', 'Playing games'),
 ('t120308', 'Computer use for leisure (excluding games)'),
 ('t120309', 'Arts and crafts as a hobby'),
 ('t120310', 'Collecting as a hobby'),
 ('t120311', 'Hobbies, except arts & crafts and collecting'),
 ('t120312', 'Reading for personal interest'),
 ('t120313', 'Writing for personal interest'),
 ('t120399', 'Relaxing and leisure, n.e.c.*'),
 ('t120401', 'Attending performing arts'),
 ('t120402', 'Attending museums'),
 ('t120403', 'Attending movies/film'),
 ('t120404', 'Attending gambling establishments'),
 ('t120499', 'Arts and entertainment, n.e.c.*'),
 ('t120501', 'Waiting assoc. w/socializing & communicating'),
 ('t120502', 'Waiting assoc. w/attending/hosting social events'),
 ('t120503', 'Waiting associated with relaxing/leisure'),
 ('t120504', 'Waiting associated with arts & entertainment'),
 ('t120599', 'Waiting associated with socializing, n.e.c.*'),
 ('t129999', 'Socializing, relaxing, and leisure, n.e.c.*'),
 ('t130101', 'Doing aerobics'),
 ('t130102', 'Playing baseball'),
 ('t130103', 'Playing basketball'),
 ('t130104', 'Biking'),
 ('t130105', 'Playing billiards'),
 ('t130106', 'Boating'),
 ('t130107', 'Bowling'),
 ('t130108', 'Climbing, spelunking, caving'),
 ('t130109', 'Dancing'),
 ('t130110', 'Participating in equestrian sports'),
 ('t130112', 'Fishing'),
 ('t130113', 'Playing football'),
 ('t130114', 'Golfing'),
 ('t130115', 'Doing gymnastics'),
 ('t130116', 'Hiking'),
 ('t130117', 'Playing hockey'),
 ('t130118', 'Hunting'),
 ('t130119', 'Participating in martial arts'),
 ('t130120', 'Playing racquet sports'),
 ('t130122', 'Rollerblading'),
 ('t130123', 'Playing rugby'),
 ('t130124', 'Running'),
 ('t130125', 'Skiing, ice skating, snowboarding'),
 ('t130126', 'Playing soccer'),
 ('t130127', 'Softball'),
 ('t130128', 'Using cardiovascular equipment'),
 ('t130129', 'Vehicle touring/racing'),
 ('t130130', 'Playing volleyball'),
 ('t130131', 'Walking'),
 ('t130132', 'Participating in water sports'),
 ('t130133', 'Weightlifting/strength training'),
 ('t130134', 'Working out, unspecified'),
 ('t130135', 'Wrestling'),
 ('t130136', 'Doing yoga'),
 ('t130199', 'Playing sports n.e.c.*'),
 ('t130202', 'Watching baseball'),
 ('t130203', 'Watching basketball'),
 ('t130205', 'Watching billiards'),
 ('t130206', 'Watching boating'),
 ('t130207', 'Watching bowling'),
 ('t130210', 'Watching equestrian sports'),
 ('t130213', 'Watching football'),
 ('t130215', 'Watching gymnastics'),
 ('t130216', 'Watching hockey'),
 ('t130218', 'Watching racquet sports'),
 ('t130219', 'Watching rodeo competitions'),
 ('t130220', 'Watching rollerblading'),
 ('t130221', 'Watching rugby'),
 ('t130222', 'Watching running'),
 ('t130223', 'Watching skiing, ice skating, snowboarding'),
 ('t130224', 'Watching soccer'),
 ('t130225', 'Watching softball'),
 ('t130226', 'Watching vehicle touring/racing'),
 ('t130227', 'Watching volleyball'),
 ('t130229', 'Watching water sports'),
 ('t130232', 'Watching wrestling'),
 ('t130299', 'Attending sporting events, n.e.c.*'),
 ('t130301', 'Waiting related to playing sports or exercising'),
 ('t130302', 'Waiting related to attending sporting events'),
 ('t139999', 'Sports, exercise, & recreation, n.e.c.*'),
 ('t140101', 'Attending religious services'),
 ('t140102', 'Participation in religious practices'),
 ('t140103', 'Waiting associated w/religious & spiritual activities'),
 ('t140105', 'Religious education activities'),
 ('t149999', 'Religious and spiritual activities, n.e.c.*'),
 ('t150101', 'Computer use'),
 ('t150102', 'Organizing and preparing'),
 ('t150103', 'Reading'),
 ('t150104', 'Telephone calls (except hotline counseling)'),
 ('t150105', 'Writing'),
 ('t150106', 'Fundraising'),
 ('t150199', 'Administrative & support activities, n.e.c.*'),
 ('t150201', 'Food preparation, presentation, clean-up'),
 ('t150202', 'Collecting & delivering clothing & other goods'),
 ('t150203', 'Providing care'),
 ('t150204', 'Teaching, leading, counseling, mentoring'),
 ('t150299', 'Social service & care activities, n.e.c.*'),
 ('t150301', 'Building houses, wildlife sites, & other structures'),
 ('t150302', 'Indoor & outdoor maintenance, repair, & clean-up'),
 ('t150399',
  'Indoor & outdoor maintenance, building & clean-up activities, n.e.c.*'),
 ('t150401', 'Performing'),
 ('t150402', 'Serving at volunteer events & cultural activities'),
 ('t150499', 'Participating in performance & cultural activities, n.e.c.*'),
 ('t150501', 'Attending meetings, conferences, & training'),
 ('t150599', 'Attending meetings, conferences, & training, n.e.c.*'),
 ('t150601', 'Public health activities'),
 ('t150602', 'Public safety activities'),
 ('t150699', 'Public health & safety activities, n.e.c.*'),
 ('t150701', 'Waiting associated with volunteer activities'),
 ('t150801', 'Security procedures related to volunteer activities'),
 ('t159999', 'Volunteer activities, n.e.c.*'),
 ('t160101', 'Telephone calls to/from family members'),
 ('t160102', 'Telephone calls to/from friends, neighbors, or acquaintances'),
 ('t160103', 'Telephone calls to/from education services providers'),
 ('t160104', 'Telephone calls to/from salespeople'),
 ('t160105',
  'Telephone calls to/from professional or personal care svcs providers'),
 ('t160106', 'Telephone calls to/from household services providers'),
 ('t160107', 'Telephone calls to/from paid child or adult care providers'),
 ('t160108', 'Telephone calls to/from government officials'),
 ('t160199', 'Telephone calls (to or from), n.e.c.*'),
 ('t160201', 'Waiting associated with telephone calls'),
 ('t169999', 'Telephone calls, n.e.c.*'),
 ('t180101', 'Travel related to personal care'),
 ('t180199', 'Travel related to personal care, n.e.c.*'),
 ('t180201', 'Travel related to housework'),
 ('t180202', 'Travel related to food & drink prep., clean-up, & presentation'),
 ('t180203', 'Travel related to interior maintenance, repair, & decoration'),
 ('t180204', 'Travel related to exterior maintenance, repair, & decoration'),
 ('t180205', 'Travel related to lawn, garden, and houseplant care'),
 ('t180206', 'Travel related to care for animals and pets (not vet care)'),
 ('t180207', 'Travel related to vehicle care & maintenance (by self)'),
 ('t180208',
  'Travel related to appliance, tool, and toy set-up, repair, & maintenance (by self)'),
 ('t180209', 'Travel related to household management'),
 ('t180299', 'Travel related to household activities, n.e.c.*'),
 ('t180301', 'Travel related to caring for & helping hh children'),
 ('t180302', "Travel related to hh children's education"),
 ('t180303', "Travel related to hh children's health"),
 ('t180304', 'Travel related to caring for hh adults'),
 ('t180305', 'Travel related to helping hh adults'),
 ('t180401', 'Travel related to caring for and helping nonhh children'),
 ('t180402', "Travel related to nonhh children's education"),
 ('t180403', "Travel related to nonhh children's health"),
 ('t180404', 'Travel related to caring for nonhh adults'),
 ('t180405', 'Travel related to helping nonhh adults'),
 ('t180501', 'Travel related to working'),
 ('t180502', 'Travel related to work-related activities'),
 ('t180503', 'Travel related to income-generating activities'),
 ('t180504', 'Travel related to job search & interviewing'),
 ('t180599', 'Travel related to work, n.e.c.*'),
 ('t180601', 'Travel related to taking class'),
 ('t180602', 'Travel related to extracurricular activities (ex. Sports)'),
 ('t180603', 'Travel related to research/homework'),
 ('t180604', 'Travel related to registration/administrative activities'),
 ('t180699', 'Travel related to education, n.e.c.*'),
 ('t180701', 'Travel related to grocery shopping'),
 ('t180702', 'Travel related to purchasing gas'),
 ('t180703', 'Travel related to purchasing food (not groceries)'),
 ('t180704', 'Travel related to shopping, ex groceries, food, and gas'),
 ('t180799', 'Travel related to consumer purchases, n.e.c.*'),
 ('t180801', 'Travel related to using childcare services'),
 ('t180802', 'Travel related to using financial services and banking'),
 ('t180803', 'Travel related to using legal services'),
 ('t180804', 'Travel related to using medical services'),
 ('t180805', 'Travel related to using personal care services'),
 ('t180806', 'Travel related to using real estate services'),
 ('t180807', 'Travel related to using veterinary services'),
 ('t180899', 'Travel rel. to using prof. & personal care services, n.e.c.*'),
 ('t180901', 'Travel related to using household services'),
 ('t180902',
  'Travel related to using home main./repair/dÃ©cor./construction svcs'),
 ('t180903', 'Travel related to using pet services (not vet)'),
 ('t180904', 'Travel related to using lawn and garden services'),
 ('t180905', 'Travel related to using vehicle maintenance & repair services'),

In [43]:
pa.categories  # The major categories of activities

{'t01': 'Personal Care',
 't02': 'Household Activities',
 't03': 'Caring For & Helping Household (HH) Members',
 't04': 'Caring For & Helping Nonhousehold (NonHH) Members',
 't05': 'Work & Work-Related Activities',
 't06': 'Education',
 't07': 'Consumer Purchases',
 't08': 'Professional & Personal Care Services',
 't09': 'Household Services',
 't10': 'Government Services & Civic Obligations',
 't11': 'Eating and Drinking',
 't12': 'Socializing, Relaxing, and Leisure',
 't13': 'Sports, Exercise, and Recreation',
 't14': 'Religious and Spiritual Activities',
 't15': 'Volunteer Activities',
 't16': 'Telephone Calls',
 't18': 'Traveling',
 't50': 'Data Codes'}

In [44]:
pa.sub_categories['t0101']

'Sleeping'

In [45]:
avg_american_crit = summary.TEAGE >= 15
american = s[avg_american_crit]
a = american
b = a
b.columns = a.columns.droplevel(1)  # To remove MultiIndex
a.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [46]:
def search_codes(text):
    results = []
    for k,v in pa.codes_dict.items():
        #print(v)
        if re.search(text, v.lower()):
            results.append((k,v))
    return results
def pick_activities(text, desc=False):
    """
    Returns activity codes with text in description
    If desc=True, returns the description instead
    """
    if desc:
        item = 1
    else:
        item = 0
    return [i[item] for i in search_codes(text) if len(i[0])==7]
    
search_codes('sleep')
sleep_activities = pick_activities('sleep')
sleep_activities = sleep_activities[1:]  ##t010199 not in summary for some reason
sleep_activities

['t010102', 't010101']

In [47]:
def sum_cols(col_list):
    pass

In [48]:
#c = b.groupby('tucaseid')[sleep_activities]
c = b.set_index('tucaseid')
d = c[sleep_activities].sum(axis=1) * c.TUFINLWGT
d.sum() / c.TUFINLWGT.sum() / 60
# [sleep_activities.extend]#.groupby('tucaseid')

8.7381765406301852

^^ Test 1/4 passed ^^

In [49]:
search_codes('leisure')  # t12----
search_codes('sports')   # t13----
#pick_activities('leisure')

[('t181399', 'Travel related to sports, exercise, & recreation, n.e.c.*'),
 ('t130399',
  'Waiting associated with sports, exercise, & recreation, n.e.c.*'),
 ('t030103', 'Playing with hh children, not sports'),
 ('t130132', 'Participating in water sports'),
 ('t130199', 'Playing sports n.e.c.*'),
 ('t1304', 'Security Procedures Rel. to Sports, Exercise, & Recreation'),
 ('t130218', 'Watching racquet sports'),
 ('t130499', 'Security related to sports, exercise, & recreation, n.e.c.*'),
 ('t1204', 'Arts and Entertainment (other than sports)'),
 ('t050203', 'Sports and exercise as part of job'),
 ('t130401', 'Security related to playing sports or exercising'),
 ('t139999', 'Sports, exercise, & recreation, n.e.c.*'),
 ('t0602', 'Extracurricular School Activities (Except Sports)'),
 ('t040105', 'Playing sports with nonhh children'),
 ('t130210', 'Watching equestrian sports'),
 ('t130120', 'Playing racquet sports'),
 ('t130229', 'Watching water sports'),
 ('t180602', 'Travel related to extracurricular activities (ex. Sports)'),
 ('t1301', 'Participating in Sports, Exercise, or Recreation'),
 ('t130301', 'Waiting related to playing sports or exercising'),
 ('t130110', 'Participating in equestrian sports'),
 ('t1399', 'Sports, Exercise, & Recreation, n.e.c.*'),
 ('t13', 'Sports, Exercise, and Recreation'),
 ('t1813', 'Travel Related to Sports, Exercise, & Recreation'),
 ('t040103', 'Playing with nonhh children, not sports'),
 ('t1303', 'Waiting Associated with Sports, Exercise, & Recreation'),
 ('t181301', 'Travel related to participating in sports/exercise/recreation'),
 ('t030105', 'Playing sports with hh children')]

In [50]:
snl = activity_columns(b, "12")
snl.extend(activity_columns(b, "13"))
#snl.extend(['t030105'])
e = b.set_index('tucaseid')
f = e[snl].rename(columns=pa.codes_dict)
g = f.sum(axis=1) * e.TUFINLWGT
g.sum() / c.TUFINLWGT.sum() / 60
# Matches: average_minutes2(b, "12") / 60 + average_minutes2(b, "13") / 60

5.0343812445470784

^^ 2/4 (close, but got 5.04 instead of 5.3...) ^^

In [51]:
search_codes('work')  # t05
average_minutes2(b, "05") / 60

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

3.2018469853082667

^^ close to 3.5 hours expected ^^

In [52]:
pa.categories['t02']
average_minutes2(b, "02") / 60

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1.7825438820657689

^^ 4/4 matches 1.8 hours ^^

##Now for some basic analyses using the summary data
###Let's define some useful selection criteria

In [53]:
list(zip(meanings_unsorted, summary.columns[:24]))

[('atus_case_id', 'tucaseid'),
 ('atus_final_weight', 'TUFINLWGT'),
 ('youngest_child_age', 'TRYHHCHILD'),
 ('age_edited', 'TEAGE'),
 ('gender', 'TESEX'),
 ('education_level', 'PEEDUCA'),
 ('race', 'PTDTRACE'),
 ('is_hispanic', 'PEHSPNON'),
 ('metropolitan_status', 'GTMETSTA'),
 ('employment_status', 'TELFS'),
 ('has_multiple_jobs', 'TEMJOT'),
 ('work_status', 'TRDPFTPT'),
 ('is_student', 'TESCHENR'),
 ('school_level', 'TESCHLVL'),
 ('partner_present', 'TRSPPRES'),
 ('partner_employed', 'TESPEMPNOT'),
 ('weekly_earnings_main', 'TRERNWA'),
 ('household_children', 'TRCHILDNUM'),
 ('partner_work_status', 'TRSPFTPT'),
 ('weekly_hours_worked', 'TEHRUSLT'),
 ('date', 'TUDIARYDAY'),
 ('is_holiday', 'TRHOLIDAY'),
 ('eldercare_minutes', 'TRTEC'),
 ('childcare_minutes', 'TRTHH')]

    summary.groupby('TRYHHCHILD').size()[1:].plot(kind='bar',title='Youngest Child Age')
### Youngest child ranges from 0 to 17, with > 200 observations at each age

In [54]:
adults = summary[summary.TEAGE > 17]
newborn_parents = adults[adults.TRYHHCHILD == 0].set_index('tucaseid')
non_parents = adults[adults.TRYHHCHILD == -1].set_index('tucaseid')
# dir(summary.groupby('TRYHHCHILD'))
# summary.groupby('TRYHHCHILD')
cols = [col for col in newborn_parents]
# for col in cols[2:]:
#     newborn_parents[col] = weighted_col(newborn_parents, col)
# newborn_parents['t010101'] = weighted_col(newborn_parents, 't010101')
# newborn_parents['t010101']
# newborn_parents

In [55]:
nonp_sleeping = average_minutes(non_parents, '010101')
newp_sleeping = average_minutes(newborn_parents, '010101')
nonp_sleeping/newp_sleeping
# This does not make sense!

1.0019294840010831

###Quick Analysis -- What is the maximum time anyone spends on each category?

In [56]:
s = summary.set_index('tucaseid')

def one_track_minds(s):
    """Returns users with maximum for each activity code, requires s summary dataframe"""
    s = summary.set_index('tucaseid')
    # s.t010101.max()/60
    # s.t010101.idxmax()
    extreme_ppl = []
    for activity in s.columns[23:]:
        person = s[activity].idxmax()
        minutes = s.loc[person, activity]
        extreme_ppl.append((person, minutes/60, activity, pa.codes_dict[activity]))
    xp = pd.DataFrame(extreme_ppl, columns=['tucaseid', 'hours', 'activity', 'description']).set_index('tucaseid')
    #xp.sort('minutes')  # Some of the least popular activities include "Public health activities, and several n.e.c* labels
    xp = xp.sort('hours', ascending=False)
    return xp
xp = one_track_minds(s)
# [user_report(s,i[0]) for i in xp.iloc[0:50].iterrows()]

In [57]:
def user_report(df, user=20131110131406):
    """Takes a dataframe of activity times and returns hours spend per day for each non-zero value"""
    stats = df.loc[user][:23]
    time = df.loc[user][23:]
    time_use = time[time != 0].rename(pa.codes_dict)
    hours = pd.DataFrame((time_use / 60))
    bio = pd.DataFrame(stats).rename(summary_columns)
#     hours.plot(kind='pie', subplots=True)
    return hours, bio

In [58]:
for user in [user for user in xp.index][:20]:
    hours, bio = user_report(s, user)
plt.figure(figsize=(20,10))# hours.plot(kind='pie', subplots=True)
# plt.plot?

In [59]:
xp = one_track_minds(s)

In [77]:
from IPython.display import display
pd.options.display.max_columns = 30 #20 by default

reports = [user_report(s,i[0]) for i in xp.iloc[0:10].iterrows()]
xps = pd.DataFrame()
cc = 1
for i, val in enumerate(reports):
    bb = reports[i][1].stack().unstack(0)
    bb.index.names=['tucaseid']
    cc = pd.merge(xp, bb, left_index=True, right_index=True)
    xps = xps.append(cc)
xps
# cc.stack()
# bb = bio.stack().unstack(0)
# bb.index.names=['tucaseid']
# pd.merge(xp, bb, left_index=True, right_index=True)

,hours,activity,description,atus_final_weight,youngest_child_age,age_edited,gender,education_level,race,is_hispanic,metropolitan_status,employment_status,has_multiple_jobs,work_status,is_student,school_level,partner_present,partner_employed,weekly_earnings_main,household_children,partner_work_status,weekly_hours_worked,date,is_holiday,eldercare_minutes,childcare_minutes
tucaseid,,,,,,,,,,,,,,,,,,,,,,,,,,
20131110131406,23.550000,t010101,Sleeping,1899058.155655,-1,52,2,39,2,2,1,1,2,1,-1,-1,3,-1,48000,0,-1,40,7,0,27,0
20130807132371,22.500000,t050101,"Work, main job",3107214.726310,9,47,1,43,1,1,1,1,2,1,2,-1,1,1,192307,2,1,45,1,0,-1,0
20130807132365,22.000000,t500101,Insufficient detail in verbatim,3345022.104425,2,32,1,40,1,2,1,1,2,1,2,-1,1,2,288461,2,-1,99,1,0,-1,0
20131009131778,21.816667,t120303,Television and movies (not religious),3495526.270281,-1,63,1,38,2,2,1,4,-1,-1,-1,-1,3,-1,-1,0,-1,-1,4,0,-1,0
20130605131901,21.050000,t120312,Reading for personal interest,2218752.415573,-1,85,1,40,1,2,1,5,-1,-1,-1,-1,3,-1,-1,0,-1,-1,7,0,-1,0
20130201131342,20.500000,t030401,Physical care for hh adults,4884344.681430,-1,58,2,43,1,2,1,2,2,2,-1,-1,3,-1,76923,0,-1,12,1,0,-1,0
20130212121071,19.716667,t120301,"Relaxing, thinking",6002226.550923,-1,80,1,38,1,2,1,5,-1,-1,-1,-1,3,-1,-1,0,-1,-1,3,0,-1,0
20130302130037,19.583333,t020103,"Sewing, repairing, & maintaining textiles",1940694.543983,-1,65,2,36,1,2,2,1,2,2,-1,-1,3,-1,10000,0,-1,10,1,1,-1,0
20130908131014,19.000000,t030101,Physical care for hh children,7872288.902837,0,30,2,43,1,2,1,1,2,2,2,-1,1,1,30000,1,1,15,5,0,-1,0
20130706131713,18.750000,t130199,Playing sports n.e.c.*,7485472.098981,-1,55,1,38,1,2,1,4,-1,-1,-1,-1,3,-1,-1,0,-1,-1,5,1,-1,0

##Further Exploration

###Possible Questions:
- What are the most extreme uses of the hours in a day?
- Newborn parent sleep - dads vs moms
- Amount of lawn work vs age of youngest child
- Amount of alone time vs age of youngest child TRTALONE
- What are people doing at this moment in time?
- What did people who responded "none of your business" 500105 do otherwise?
- Show a random correlation
- What do sleepless people do?
- OTPYG, by the numbers
- Rodeo vs ???
- Organizing and Preparing vs ???
- What do people do on holiday vs day off vs day of work? Weekend vs weekday?

###Possible groupings:
- Adults with and without children
- Age of youngest child (0-5, 6-11, 12-17)
- Age <25, <40, <65, >65
- Male/Female
- 

###Other variables/files of interest:
- Actual activities file

###Discussion Points:
- Generating data dictionary from pdf
- MadLib/User report

###Other:
- Critical Functions:
    - dictionaries in pa
    - search_codes
    - pick_codes
    - user_report
- Test suite

- Compare different populations (people with children and people without, people of differing age groups, men and women, or other groupings)
Answer macro-level questions and micro-level questions (for example, the amount of leisure for the macro-level, the types of things people do for leisure for the micro-level)
Your final analysis should be in the form of an IPython Notebook with both narrative analysis and supporting charts. Your supporting code should be in normal Python files.

In [61]:
search_codes

#Table of Contents:
* [Initial Exploration (Top)](#Initial-Exploration)
* [Table of Contents](#Table-of-Contents:)
* [Relevant Links](#Relevant-links:)
* [Joining Files](#Joining-files)
* [Correlation Matrix](#Correlation-matrix)
* [Verifying BLS Statistics](#Verifying-summary-statistics-from-BLS-website:)
* [Further Analyses](#Now-for-some-basic-analyses-using-the-summary-data)
    * [One-track-minds](#Quick-Analysis----What-is-the-maximum-time-anyone-spends-on-each-category?)
* [Further Exploration](#Further-Exploration)
* [End](#End)

##End