In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [3]:
%matplotlib inline

In [4]:
summary = pd.read_csv("../atusdata/atussum_2013.dat")
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 36.0 MB

In [5]:
print(len(summary.columns))

413

In [6]:
summary.columns[0:25]

Index(['tucaseid', 'TUFINLWGT', 'TRYHHCHILD', 'TEAGE', 'TESEX', 'PEEDUCA',
       'PTDTRACE', 'PEHSPNON', 'GTMETSTA', 'TELFS', 'TEMJOT', 'TRDPFTPT',
       'TESCHENR', 'TESCHLVL', 'TRSPPRES', 'TESPEMPNOT', 'TRERNWA',
       'TRCHILDNUM', 'TRSPFTPT', 'TEHRUSLT', 'TUDIARYDAY', 'TRHOLIDAY',
       'TRTEC', 'TRTHH', 't010101'],
      dtype='object')

In [7]:
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,0,0,0,0,0,0
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,25,0,0,0,0,0,0,0,0,0
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
summary.index = summary.pop('tucaseid')

In [9]:
summary.head()

,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,TEMJOT,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
tucaseid,,,,,,,,,,,,,,,,,,,,,
20130101130004,11899905.662034,12,22,2,40,8,2,1,5,-1,...,0,0,0,0,0,0,0,0,0,0
20130101130112,4447638.009513,1,39,1,43,1,2,1,1,2,...,0,0,0,0,0,0,0,0,0,0
20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,-1,...,25,0,0,0,0,0,0,0,0,0
20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,2,...,0,0,0,0,0,0,0,0,0,0
20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
summary.columns[23:]

Index(['t010101', 't010102', 't010201', 't010299', 't010301', 't010399',
       't010401', 't020101', 't020102', 't020103',
       ...
       't181501', 't181599', 't181601', 't181801', 't189999', 't500101',
       't500103', 't500105', 't500106', 't500107'],
      dtype='object', length=389)

In [11]:
sum_for_cor = summary.iloc[:, 23:]

In [12]:
corr_results = sum_for_cor.corr()

In [13]:
corr_results[corr_results['t010101'] > 0.7]

,t010101,t010102,t010201,t010299,t010301,t010399,t010401,t020101,t020102,t020103,...,t181501,t181599,t181601,t181801,t189999,t500101,t500103,t500105,t500106,t500107
t010101,1,-0.113135,-0.118443,-0.010672,0.001342,-0.006126,-0.015297,0.003557,-0.000651,-0.02288,...,-0.039139,-0.006367,-0.017047,0.002388,-0.041787,-0.054464,-0.020164,-0.001634,0.006463,-0.003947

In [14]:
corr_results[corr_results[i for i in corr_results.columns] > 0.7]

SyntaxError: invalid syntax (<ipython-input-14-32e469d98ed1>, line 1)

In [17]:
corr_series = corr_results.stack()

In [25]:
corr_series[(corr_series.map(math.fabs) >= 0.7) & (corr_series != 1.0)].count()

26