In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [6]:
summary = pd.read_csv("../atusdata/atussum_2013.dat")
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11385 entries, 0 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 36.0 MB

In [7]:
males = summary.TESEX == 1
females = summary.TESEX == 2

In [8]:
males_data = summary[males]
females_data = summary[females]

In [12]:
males_data.info()
females_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5082 entries, 1 to 11384
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 16.1 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6303 entries, 0 to 11380
Columns: 413 entries, tucaseid to t500107
dtypes: float64(1), int64(412)
memory usage: 19.9 MB

In [18]:
males_cleaning_data = males_data[['TUFINLWGT', 't020101', 't020102', 't020103', 't020104', 't020199']]

In [28]:
females_cleaning_data = females_data[['TUFINLWGT', 't020101', 't020102', 't020103', 't020104', 't020199']]

In [32]:
males_cleaning_data['cleaning'] = (males_cleaning_data.t020101 + males_cleaning_data.t020102 +\
                                     males_cleaning_data.t020103 + males_cleaning_data.t020104 +\
                                     males_cleaning_data.t020199)

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [33]:
females_cleaning_data['cleaning'] = (females_cleaning_data.t020101 + females_cleaning_data.t020102 +\
                                     females_cleaning_data.t020103 + females_cleaning_data.t020104 +\
                                     females_cleaning_data.t020199)

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [35]:
males_cleaning_data.head()

          TUFINLWGT  t020101  t020102  t020103  t020104  t020199  cleaning
1    4447638.009513       25        0        0        0        0        25
6    5671341.270490        0        0        0       20        0        20
11   6755514.216327       40       10        0        0        0        50
12  13506297.294756        0      210        0        0        0       210
14  11791654.393174        0        0        0        0        0         0

In [34]:
females_cleaning_data.head()

         TUFINLWGT  t020101  t020102  t020103  t020104  t020199  cleaning
0  11899905.662034        0        0        0        0        0         0
2  10377056.507734        0        0        0        0        0         0
3   7731257.992805        0        0        0        0        0         0
4   4725269.227067        0       30        0        0        0        30
5   2372791.046351       90        0        0        0        0        90

In [37]:
males_cleaning_data['weighted_cleaning'] = males_cleaning_data.cleaning * males_cleaning_data.TUFINLWGT

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [38]:
females_cleaning_data['weighted_cleaning'] = females_cleaning_data.cleaning * females_cleaning_data.TUFINLWGT

/usr/local/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [40]:
males_cleaning_times = males_cleaning_data.weighted_cleaning.sum() / males_cleaning_data.TUFINLWGT.sum()

In [41]:
males_cleaning_times

15.102906392414331

In [42]:
females_cleaning_times = females_cleaning_data.weighted_cleaning.sum() / females_cleaning_data.TUFINLWGT.sum()

In [43]:
females_cleaning_times

52.473310443512105

In [ ]:
# Percent of males cleaning

In [48]:
males_cleaned = males_cleaning_data.cleaning > 0

In [49]:
males_cleaned.head(10)

1      True
6      True
11     True
12     True
14    False
16     True
17    False
22    False
24    False
25     True
Name: cleaning, dtype: bool

In [50]:
females_cleaned = females_cleaning_data.cleaning > 0

In [51]:
females_cleaned.head(10)

0     False
2     False
3     False
4      True
5      True
7      True
8     False
9     False
10    False
13     True
Name: cleaning, dtype: bool

In [79]:
males_total = males_cleaned.value_counts()

In [86]:
males_percent = males_total.xs(True) / (males_total.xs(False) + males_total.xs(True)) * 100

In [87]:
males_percent

22.884691066509248

In [82]:
females_cleaned.value_counts()

True     3209
False    3094
dtype: int64

In [83]:
females_total = females_cleaned.value_counts()

In [88]:
females_percent = females_total.xs(True) / (females_total.xs(False) + females_total.xs(True)) * 100

In [89]:
females_percent

50.912264001269236