In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from atus_analysis import *

In [2]:
%matplotlib inline

In [3]:
df = make_merged_df()

In [4]:
df.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t500103,t500105,t500106,t500107,TUCASEID,GESTFIPS,HEFAMINC,HETENURE,PREMPHRS,PRMJIND1
0,20130101130004,11899905.662034,12,22,2,40,8,2,1,5,...,0,0,0,0,20130101130004,53,16,1,0,-1
1,20130101130112,4447638.009513,1,39,1,43,1,2,1,1,...,0,0,0,0,20130101130112,48,15,1,18,13
2,20130101130123,10377056.507734,-1,47,2,40,1,2,1,4,...,0,0,0,0,20130101130123,36,15,1,0,-1
3,20130101130611,7731257.992805,-1,50,2,40,1,1,1,1,...,0,0,0,0,20130101130611,12,13,1,21,10
4,20130101130616,4725269.227067,-1,45,2,40,2,2,1,1,...,0,0,0,0,20130101130616,26,6,1,13,12

In [5]:
#Bike by state 130104

In [6]:
bike = df[df['t130104'] > 0]

In [7]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68 entries, 253 to 11276
Columns: 419 entries, tucaseid to PRMJIND1
dtypes: float64(1), int64(418)
memory usage: 223.1 KB

In [8]:
#68/11276 people bike for recreation

In [9]:
bike_data = df.loc[:, ['tucaseid','TUFINLWGT', 'GESTFIPS', 't130104']]

In [10]:
bike_data['weighted_biking_min'] = bike_data.t130104 * bike_data.TUFINLWGT

In [11]:
bike_data.head()

         tucaseid        TUFINLWGT  GESTFIPS  t130104  weighted_biking_min
0  20130101130004  11899905.662034        53        0                    0
1  20130101130112   4447638.009513        48        0                    0
2  20130101130123  10377056.507734        36        0                    0
3  20130101130611   7731257.992805        12        0                    0
4  20130101130616   4725269.227067        26        0                    0

In [12]:
biking = bike_data.groupby('GESTFIPS').sum()
biking_count = bike_data.groupby('GESTFIPS').count()

In [13]:
biking.head()

                   tucaseid     TUFINLWGT  t130104  weighted_biking_min
GESTFIPS
1          3885214861216195  1.457791e+09        0         0.000000e+00
2           483136946150003  1.953890e+08        0         0.000000e+00
4          3744294535231536  1.682912e+09      130         7.467775e+08
5          2778022245998964  8.803334e+08        0         0.000000e+00
6         23492452314088172  1.029088e+10      770         4.888399e+09

In [14]:
biking_count.head(10)

          tucaseid  TUFINLWGT  t130104  weighted_biking_min
GESTFIPS
1              193        193      193                  193
2               24         24       24                   24
4              186        186      186                  186
5              138        138      138                  138
6             1167       1167     1167                 1167
8              223        223      223                  223
9              146        146      146                  146
10              38         38       38                   38
11              32         32       32                   32
12             627        627      627                  627

In [15]:
print("Number of People in {}".format(biking_count['weighted_biking_min']))

Number of People in GESTFIPS
1      193
2       24
4      186
5      138
6     1167
8      223
9      146
10      38
11      32
12     627
13     309
15      33
16      63
17     497
18     252
19     131
20     138
21     202
22     159
23      55
24     237
25     213
26     412
27     265
28     105
29     234
30      42
31      82
32     100
33      55
34     297
35      96
36     603
37     339
38      29
39     420
40     155
41     191
42     484
44      38
45     183
46      29
47     214
48     827
49     122
50      27
51     365
53     259
54      56
55     275
56      18
Name: weighted_biking_min, dtype: int64

In [16]:
biking["avg_biking_mins"] = biking.weighted_biking_min.sum / biking.TUFINLWGT.sum

TypeError: unsupported operand type(s) for /: 'method' and 'method'

In [ ]:
biking.index = biking.index.to_series().map(lambda code: replace_fips(code))

In [ ]:
top_10_biking = biking.sort('avg_biking_mins', ascending=False)[:10]

In [ ]:
top_10_biking

In [ ]:
top_10_biking.avg_biking_mins[9::-1].plot(kind="barh", figsize=(8,5), title="Biking By Minute")
plt.xlabel("Average Minutes Biking Per Person Per Day")
plt.ylabel('State')

In [ ]:
#Make averages by state

In [ ]:
running = make_averages_by_state(df, 't130124')

In [ ]:
run_plot = plotting(running, "Running By State", (8,5))
plt.xlabel("Average Minutes Running Per Person Per Day")
plt.ylabel('State')

In [ ]:
recreation = add_weighted_minutes(df, '1301')

In [ ]:
recreation.groupby('GESTFIPS').sum()

In [ ]:
recreation_average = group_and_average(df, "GESTFIPS", '1301', state=True)

In [ ]:
top_10_rec = recreation_average.order(ascending=False)[:10]
rec_plot = plotting(top_10_rec, "States with most Activity People", (12,8))

In [ ]:
recreation_by_age = group_and_average3(df, "TEAGE", '1301')

In [ ]:
recreation_by_age.plot(kind="line")

In [ ]:
df.head(20)

In [ ]:
recreation_by_sex = group_and_average(df, "TESEX", '1301')

In [ ]:
recreation_by_sex.plot(kind='bar')

In [ ]:
recreation_by_hhchildren = group_and_average(df, "TRYHHCHILD", '1301')

In [ ]:
recreation_by_hhchildren[:8].plot(kind='bar')

In [ ]:
bike_recreation = group_and_average(df, 'GESTFIPS', '130104', state=True)

In [ ]:
bike_recreation.order(ascending=False)[0:10].plot(kind='bar')

In [ ]:
leisure = group_and_average(df, 'GESTFIPS', '1203', state=True)

In [ ]:
leisure.order()[:10].plot(kind="barh")

In [17]:
urban_education = group_and_average3(df, 'GTMETSTA', '06', print_all=True)

11385 people are included in this analysis
Count by group: GTMETSTA
1    9426
2    1871
3      88
Name: 06, dtype: int64

In [18]:
urban_education

GTMETSTA
Metropolitan        28.435179
Non-metropolitan    19.569287
Not identified       9.902245
Name: avg_mins, dtype: float64

In [ ]:
urban_education[:2].plot(kind='bar')

In [ ]:
age_education2 = group_and_average2(df, 'TEAGE', '06')

In [ ]:
age_education2

In [ ]:
age_education2.plot(kind='bar', figsize=(12,10))

In [ ]:
age_education3 = group_and_average3(df, 'TEAGE', '06')