In [1]:
import pandas as pd

In [2]:
d = {"one" : pd.Series([1, 2, 3], index=["a", "b", "c"]),
     "two" : pd.Series([4, 2, 3], index=["a", "b", "c"])}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

   one  two
a    1    4
b    2    2
c    3    3

In [12]:
df["t0101"] = [5, 6, 7]
df["t010101"] = [0, 1, 2]
df["t0102"] = [8, 9, 0]

In [13]:
df

   one  two  t0101  t0102  t010101
a    1    4      5      8        0
b    2    2      6      9        1
c    3    3      7      0        2

In [14]:
df["t0101"] + df["t010101"]

a    5
b    7
c    9
dtype: int64